<div class="d-flex flex-column chat-user" style="height: 100%;" ng-controller="chatUser">
  <div class="chat-box-header">
    <div style="height:100%;" ng-if="conversationId">
      <div class="d-flex align-items-center">

        <i class="ti ti-chevron-left fs-2" style="cursor: pointer;" ng-click="goBack()"></i>
            <img src="{{asset('assets/img/avatar.webp')}}"  class="chat-avatar ms-2 me-1" ng-if="!isHeaderLoading"/>
          <h3 class="operator-name" style="color: #fff;" ng-if="!isHeaderLoading">
            {{"{{isConversationCreator() ? conversation.inviteeUser.firstname + ' ' + conversation.inviteeUser.lastname :
            conversation.createdByUser.firstname + ' ' + conversation.createdByUser.lastname }}"}}
          </h3>
        
          <i class="ti ti-loader fs-2 my-loader ms-2 me-1" ng-if="isHeaderLoading"></i>
        </div>
    </div>
    <div style="height:100%;" ng-if="!conversationId">
      <div class="d-flex align-items-center">
        <i class="ti ti-chevron-left fs-2" style="cursor: pointer;" ng-click="goBack()"></i>
      </div>
    </div>

  </div>
  <div class="chat-box-main">
    <div style="height:100%;" ng-if="isLoading">
      <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
        <i class="ti ti-loader fs-2 my-loader"></i>
      </div>
    </div>
    <div style="height:100%;" ng-if="!isLoading">
      <div class="chat-message-bottom" #bottom></div>
      <div style="height:100%;" ng-repeat="message in data">
        <div class="chat-message"
            ng-class="{strike: deleted, bold: important, 'chat-message-received': message.senderUser.userIdApplication != userId, 'chat-message-sent': message.senderUser.userIdApplication != userId}">
          <div style="position: relative;">
            <img src="{{asset('assets/img/avatar.webp')}}"  class="chat-message-from-avatar chat-avatar" />
            <div class="chat-message-text" style="position: relative;">
              {{"{{message.content}}"}}
            </div>
          </div>
          <div class="chat-message-date">
            {# {{"{{message.createdAt | date: 'short'}}"}} #}
          </div>
        </div>
      </div>
      <div class="d-flex p-3 align-items-center justify-content-center mb-2">
        <div class="d-flex flex-column align-items-center font-weight-bold" style="cursor: pointer;"
          ng-if="showLoadingMore && !isLoadingMore" ng-click="loadMore()">
          <i class="ti ti-chevron-up fs-2 " style="cursor: pointer;"></i>
          <span class="fs-6">Voir plus</span>

        </div>

        <i class="ti ti-loader fs-2 my-loader" ng-if="isLoadingMore"></i>
      </div>
    </div>
  </div>
  <div class="chat-box-footer">
    <!-- (dismiss)="toggleChat()" -->
    {# <chat-input (send)="addMessage($event)" [conversationId]="conversationId"
      ng-if="!isLoading && !isHeaderLoading"></chat-input> #}
  </div>
</div>