<!DOCTYPE html>
<html>
    <head>
        {% if app.environment == 'prod' %}
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-8PBBKR57JN"></script>
            <script type="text/javascript" src="{{ asset('assets/js/google_analytics.js') }}"></script>
        {% endif %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="O5bvNXZxdhGiT5VN5hPxisFh_XZeZCQr4aN4yoy0Ilk" />
        <title>{% block title %}Authentification{% endblock %}</title>
        <link rel="stylesheet" href="/assets/fontawesome-free-6.0.0-web/css/all.css" />
        <link rel="stylesheet" href="{{ asset('/assets/vuexy/css/pages/authentication.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{asset('assets/css/animations.css')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('assets/css/style.css?date=202406271222')}}">
        <link rel="stylesheet" type="text/css" href="{{asset('assets/css/login.css')}}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('vuexy_colors') }}
            {{ encore_entry_link_tags('vuexy_components') }}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <script src="{{ asset('assets/vuexy/vendors/js/vendors.min.js') }}" ></script>
        {% block javascripts %}
            {{ encore_entry_script_tags('vuexy_app') }}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body>
{% block body %}
<body class="horizontal-layout horizontal-menu blank-page navbar-floating footer-static  " data-open="hover" data-menu="horizontal-menu" data-col="blank-page">
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <div class="auth-wrapper auth-cover">
                    <div class="auth-inner row m-0">
                        

                        <!-- Left Text-->
                        <div class="d-none d-lg-flex col-lg-8 align-items-center m-0 p-0 bg-image">
                        </div>
                        <!-- /Left Text-->
                        <!-- Login-->
                        <div class=" col-lg-4 auth-bg px-2 container-fluid  d-flex justify-content-center align-items-center">
                            <div class="col-12 col-sm-8 col-md-6 col-lg-12 p-lg-5  mx-auto">
                                <div class="p-lg-4 p-3">
                                    <h2 class="card-title  mb-1 text-center  pixelforce-logo">
                                            <div  class="text-center text-muted  d-flex align-items-center justify-content-center ">
                                                <img src="/assets/img/logo/pixelforce/logo-pixelforce-00.png" class="img-fluid  m-2" alt="logo-pixelforce">
                                                <h2 class="ml-0 fw-bold">PIXELFORCE</h2>
                                            </div>  
                                    </h2>
                                    
                                    <h2 class="text-center fw-bold mt-3">Connexion</h2>
                                    {% block form %}
                                        <form class="auth-login-form mt-3" method="POST">
                                            <!-- Affichage des messages flash -->
                                            {% for label, messages in app.flashes %}
                                                {% for message in messages %}
                                                    <div id="msgFlash" class="alert alert-{{ label }} msgFlash mb-2 ">
                                                        {{ message | raw }}
                                                    </div>
                                                {% endfor %}
                                            {% else %}
                                                {% if error %}
                                                    <div class="mt-3 alert alert-danger">Email ou mot de passe invalide</div>
                                                {% endif %}
                                            {% endfor %}
                                            <div class="mb-2">
                                                <input type="text" class="form-control"  placeholder="Nom d'utilisateur/Email" value="{{ last_username }}" name="email" id="inputMail_users"  required autofocus>
                                            </div>
                                            <div class="mb-2">   
                                                <div class="input-group input-group-merge form-password-toggle">
                                                    <input class="form-control form-control-merge" id="login-password" type="password" name="password" placeholder="Mot de passe" aria-describedby="login-password" tabindex="2" required/><span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                                                </div>
                                            </div>
                                            <input type="hidden" name="agentToken" value="{{agentToken}}" />
                                            {# <div class="mb-3  mt-3 form-check">
                                                <input type="checkbox" class="form-check-input" id="remember_me" name="_remember_me">
                                                <label class="form-check-label" for="exampleCheck1">Se souvenir de moi</label>
                                            </div> #}
                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                            <div class=" text-center mt-4">
                                                <button class="login-button w-100 h-30 font-weight-bold rounded-3 p-2" type="submit">
                                                    Connexion
                                                </button>
                                                
                                            </div>
                                            <div class="divider my-2">
                                            <hr/>
                                            </div>

                                            <div class="row mt-2 justify-content-center d-flex">
                                                <div class="col-12 ">
                                                    <div class=" text-center">
                                                        <a class="w-100 font-weight-bold login-other-button" href="{{ path('app_forgetPassword') }}">
                                                            Mot de passe oublié ?
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-12 ">
                                                    <div class=" text-center">
                                                        <a class=" w-100 font-weight-bold login-other-button" href="{% if agentToken %} {{ path('signup_client', {'token': agentToken}) }} {% else %} {{ path('agent_inscription') }} {% endif %}">
                                                            S'inscrire
                                                        </a>
                                                    </div>
                                                </div>
                                                
                                            </div>                                    
                                        </form>
                                        
                                        
                                    {% endblock %}

                                </div>
                            </div>
                        </div>
                        <!-- /Login-->
                    </div>
                </div>
            </div>
        </div>
    </div>
     <script>
        $(window).on('load', function() {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
        })
    </script>
    <!-- Inclusion du fichier JavaScript de Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock %}