{% extends 'base.html.twig' %}
{% block title %}Agent - Formation fiche
{% endblock %}
{% block stylesheets %}
	{{ parent()}}
	<link rel="stylesheet" href="{{ asset('assets/css/formation/formation.css')}}">

{% endblock %}
{% block body %}
	<div class="row px-3 content-formation">
		<div class="card card-body-custom mt-2">
			<div class="row mt-3">
				{# <div class="col-md-2"></div> #}
				<div class="col-md-12 ">
					<div class="row justify-content-center">
						<div class="col-md-10 p-3">
							<div class=" mb-lg-0 d-flex justify-content-center">
								<div class="ratio ratio-16x9 mt-3 ">
									<img class="img-fluid w-100" style="border-radius:20px" 
									{% if configuration.introductionPhoto %}
										src="{{ asset( filesDirectory ~ configuration.introductionPhoto) }}"
									{% else %}
										src="{{ asset('assets/vuexy/images/pages/login-images.png' )}}" 
									{% endif %}
									
									alt=""/>
								</div>
							</div>
						</div>
						<div class="col-md-10 mt-5">
							<hr>
							<div class="row mb-5 text-center">
								<div class="col-12 col-md-6 d-flex flex-column align-items-center">
									<div class="d-flex align-items-center mb-2">
										<i class="fa fa-solid fa-book-open fa-2x me-2" style="color: #3e4f9c;"></i>
									</div>
									<span class="value-text">{{ categories|length }} Formation(s)</span>
								</div>
								<div class="col-12 col-md-6 d-flex flex-column align-items-center">
									<div class="d-flex align-items-center mb-2">
										<i class="fas fa-clock fa-2x me-2 " style="color: #3e4f9c;"></i>
									</div>
									<span class="value-text">{{ configuration.heureFormation }}</span>
								</div>
							</div>

							<hr>

							<!-- Course Overview -->
							<div class="course-overview mb-5">
								<h3 class="my-auto general-primary-text mb-3">Description</h3>
								<p>{{ configuration.description | raw }}</p>
							</div>

							<div class="ratio ratio-16x9 mt-3" >
								<iframe class="rounded-custom" 
								{% if configuration.introductionVideo %}
									src="{{ configuration.introductionVideo }}" 
								{% else %}
									src="{{video_information_vimeo_src}}"
								{% endif %}
								allow="autoplay; fullscreen; picture-in-picture; clipboard-write"></iframe>
							</div>


							<div class="accordion mt-4" id="accordionExample">
								{% for categorie in categories  %}
								<div class="accordion-item">
									<h2 class="accordion-header">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{loop.index}}" aria-expanded="{{ loop.index == 1 ? 'true' : 'false' }}" aria-controls="collapse{{loop.index}}">
											{{categorie.nom}}
										</button>
									</h2>
									<div id="collapse{{loop.index}}" class="accordion-collapse collapse {{ loop.index == 1 ? 'show' : '' }}" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<div class="card-body">
											{% set countFomrationInside = 0 %}
											{% for formation in formations %}
												{% if formation.categorieFormation ==  categorie %}
													{% set countFomrationInside = countFomrationInside + 1 %}
													{% set isQuiz = formation.type == constant('App\\Entity\\Formation::TYPE_QUIZ') %}
													{% set formationAgentRelation = formationAgentRepository.findOneBy({agent:app.user.id, formation:formation}) %}
													{# {% set statut = formationAgentRelation ? formationAgentRelation.statut : constant('App\\Entity\\Formation::STATUT_BLOQUEE') %} #}
													{% set statut = formationAgentRelation ? formationAgentRelation.statut : constant('App\\Entity\\Formation::STATUT_DISPONIBLE') %}
													{% if formation.categorieFormation.ordreCatFormation > (agentSecteur.currentFormationRank ?? 1)  %}
														{% set statut = constant('App\\Entity\\Formation::STATUT_BLOQUEE') %}
													{% endif %}
													<div class="row week-item">
														<div class="col-md-3">
															<div class="ratio ratio-16x9 mt-3">
															{% if isQuiz %}
																	<img src="{{ asset('assets/vuexy/images/pages/login-images.png' )}}" alt="Image" width="100" height="100">
															{% else %}
																<iframe class="rounded-custom formationVideo" data-status="{{ statut }}" data-formation-id="{{ formation.id }}" src="https://player.vimeo.com/video/{{ formation.videoId }}?loop=0&byline=0&portrait=0&title=0&muted=1" allow="autoplay; fullscreen; picture-in-picture; clipboard-write"  data-path="{{ path('agent_formation_terminer', {id: formation.id}) }}" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
															{% endif %}
															
															</div>
														</div>
														<div class="col-md-9">
															<h5 class="{{isQuiz ? 'text-warning': 'text-primary'}}">{{isQuiz ? 'QUIZ: ': ''}}{{ formation.titre }}
																{% if formation.brouillon %}
																	<small class="text-danger">[ brouillon ]</small>
																{% endif %}
															</h5>
															<p>{{ (formation.description??'')|slice(0, 300) }}</p>
															{% if formationAgentRelation and isQuiz and statut != constant('App\\Entity\\Formation::STATUT_BLOQUEE') %}
																<p>
																	<b>Dernièr résultat:</b>
																	{{formationAgentRelation.lastResultScore | number_format(2, ',', ' ')}}
																	%</p>
																<p>
																	<b>Résultat maximum:</b>
																	{{formationAgentRelation.maxResultScore | number_format(2, ',', ' ')}}
																	%</p>
																<p>
																	<b>Statut:</b>&nbsp;
																	{% if formationAgentRelation.statut == constant('App\\Entity\\Formation::STATUT_TERMINER') %}
																		<b class="text-success">RÉUSSI</b>
																	{% else %}
																		<b class="text-danger">ÉCHOUÉ</b>
																	{% endif %}
																</p>
															{% endif %}
															{% if isQuiz %}
																{% if statut == constant('App\\Entity\\Formation::STATUT_BLOQUEE') %}
																	{# title="Information de déblocage" data-bs-content="{{formation.DescriptionDeblocage}}" data-trigger="hover" data-bs-toggle="popover" data-bs-placement="left" #}
																	<button type="button" class="btn btn-sm btn-danger">
																		<i class="fa fa-lock"></i>
																		Quiz bloqué</button>
																{% elseif statut == constant('App\\Entity\\Formation::STATUT_DISPONIBLE')%}
																	<a href="{{ path('agent_quiz_begin', {id:formation.id}) }}" class="btn btn-primary btn-sm">
																		{# <i class="fa fa-chevron-right"></i> #}
																		Commencer</a>
																{% elseif statut == constant('App\\Entity\\Formation::STATUT_IN_PROGRESS') or statut == constant('App\\Entity\\Formation::STATUT_TERMINER') %}
																	<a href="{{ path('agent_quiz_begin', {id:formation.id}) }}" class="btn btn-primary btn-sm">
																		{# <i class="fa fa-repeat"></i> #}
																		Réessayer</a>
																	<a href="{{ path('agent_quiz_result', {id:formationAgentRelation.id}) }}" class="btn btn-success btn-sm ms-2">
																		{# <i class="fa fa-chevron-right"></i> #}
																		Voir le dérnier résultat</a>
																{% endif %}
															{% else %}
																{% if statut == constant('App\\Entity\\Formation::STATUT_BLOQUEE') %}
																	<button type="button" class="btn btn-sm btn-danger">
																		{# <i class="fa fa-lock"></i> #}
																		Formation bloquée</button>
																{% elseif statut == constant('App\\Entity\\Formation::STATUT_DISPONIBLE')%}
																	<a href="{{ path('agent_formation_fiche', {id:formation.id}) }}" class="btn btn-primary btn-sm">
																		{# <i class="fa fa-chevron-right"></i> #}
																		Fiche formation</a>
																{% elseif statut == constant('App\\Entity\\Formation::STATUT_TERMINER')%}
																	<a href="{{ path('agent_formation_fiche', {id:formation.id}) }}" class="btn btn-success btn-sm">
																		{# <i class="fa fa-check"></i> #}
																		Formation terminée</a>
																{% endif %}
															{% endif %}

														</div>
													</div>

													{# <div class="row week-item">
																												<div class="col-md-6">
																													<div class="ratio ratio-16x9 mt-3">
																														<iframe id="" class="rounded-custom" src="{{video_information_vimeo_src}}" allow="autoplay; fullscreen; picture-in-picture; clipboard-write"></iframe>
																													</div>
																												</div>
																												<div class="col-md-6">
													
																													<h5>Introduction</h5>
																													<p>Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat non proident.</p>
													
																												</div>
																											</div>
																											<div class="row week-item">
																												<div class="col-md-6">
																													<div class="ratio ratio-16x9 mt-3">
																														<img src="{{ asset('assets/vuexy/images/pages/login-images.png' )}}" alt="Image" width="100" height="100">
													
																													</div>
																												</div>
																												<div class="col-md-6">
																													<h5>Quiz</h5>
																													<p>Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat non proident.</p>
																												</div>
																											</div> #}
												{% endif %}
											{% endfor %}
											{% if countFomrationInside < 1 %}
												<div class="row">
													<div class="col-md-12 text-center">
														<h4>Aucune formation</h4>
													</div>
												</div>
											{% endif %}
											
										</div>
									</div>
									</div>
								</div>
								{% endfor %}
							</div>
							
							<div class="mb-5">
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://player.vimeo.com/api/player.js"></script>
	<script type="text/javascript">
		$(document).ready(function (){
			var formationStatutTerminer = "{{ constant('App\\Entity\\Formation::STATUT_TERMINER') }} "
			 $('.formationVideo').each(function() {
				var status = $(this).attr('data-status');
				var idFormation = $(this).attr('data-formation-id');
				var endFormationUrl =  $(this).attr('data-path');
				const player = new Vimeo.Player($(this));
				console.log(formationStatutTerminer);
                player.on('ended', () => {
                    console.log('video ended');
					if(status != formationStatutTerminer){
                    	window.location.pathname = endFormationUrl;
					}
                });
				
			});
			
		})
	</script>

{% endblock %}