{% extends 'base.html.twig' %}
{% block title %}Agent - Liste Formations Video
{% endblock %}
{% block body %}
	<div>
		<div class="row mt-4">
			<div class="col-12 col-md-6"></div>
		</div>

      
		<div>
			{% for categorie in categories  %}
				<div class="row px-3">
					<div class="card">
						<div class="row" style="min-height:300px">
							<div class="col-md-6 p-3">
								<div class="position-relative mb-5 mb-lg-0">

									<img class="img-fluid w-100 rounded" src="{{ asset('assets/vuexy/images/pages/login-images.png' )}}" alt="{{ categorie.nom }}"/>
								</div>
							</div>

							<div
								class="col-md-6 d-flex align-items-center p-5">
								<!-- Product Details Content -->
								<div
									class="py-3 w-100">
									<!-- Product Title -->
									<h3>{{ categorie.nom }}</h3>
									<!-- End Product Title -->

									<div class="d-flex align-items-center my-3">
										<i class="fas fa-tv me-2"></i>
										<span class="total-student me-4">7 formations</span>
										<i class="fas fa-clock me-2"></i>
										<span class="total-student">~ 99h</span>
									</div>

									<!-- Product Description -->
									<div class="mt-3">
										<h5>Description</h5>
										<p>
											Mauris imperdiet orci dapibus, commodo libero nec, interdum tortor. Morbi in nibh faucibus, 
											        iaculis lorem vitae, cursus velit. Etiam non blandit ex. Mauris in fringilla velit. Fusce eu 
											        dictum neque. Maecenas tristique sem neque, vel congue libero efficitur at. Cras molestie 
											        ipsum at sem sollicitudin consectetur. type and scrambled it to make a type specimen book. 
											        It has survived not only five centuries, but also the leap into electronic typesetting, 
											        remaining essentially unchanged.
										</p>
									</div>

                                    <div class="ratio ratio-16x9 mt-3" >
                                        <iframe id="secteurVideo" class="rounded-custom" src="{{video_information_vimeo_src}}"  allow="autoplay; fullscreen; picture-in-picture; clipboard-write"  ></iframe>
                                    </div>

                                 
									<!-- End Product Description -->
                                    <div class="mt-4 text-end">
                                        <a href="{{ path('agent_formation_categorie_detail') }}" class="btn btn-primary">Check Course</a>
                                    </div>
								</div>
								<!-- End Product Details Content -->
							</div>

						</div>
					</div>
				</div>

			{% endfor %}
		</div>
		{# display navigation #}
		<div class="navigation">
			{{ knp_pagination_render(formations) }}
		</div>
	</div>
{% endblock %}
