{% extends 'base-choix.html.twig' %}

{% block title %}
	Page d'accueil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% set stripe_defaultButton =  "S'abonner (" ~ planPrice ~ " €)" %}

    <div class="container-page">

        <h1 class="choix-secteur-primary mt-3">Bienvenue sur Pixelforce</h1>    

        {% if app.session.get('enabledContent') == true %}
            {% if app.request.get('stripe_checkout') == 'successfully' %}
                <div class="text-center alert alert-success h5">
                    Paiement efféctué avec success !
                </div>
            {% endif %}
            <div class="row pt-3">
                <div class="col-12 col-md-5">
                    <h6 class="">Après avoir visionné la vidéo pour vous informer sur les opportunités offertes par la plateforme, vous êtes libre de choisir parmi les différents secteurs disponibles.</h6>
                </div>
                <div class="col-0 col-md-7"></div>
            </div>
            <div class="ratio ratio-16x9 mt-3 choix-secteur-video rounded-3" >
                <iframe src="{{video_information_vimeo_src}}"  allow="autoplay; fullscreen; picture-in-picture; clipboard-write"  ></iframe>
                <script src="https://player.vimeo.com/api/player.js"></script>
            </div>
            
            <h1 class="choix-secteur-primary mt-5 ml-5">Choisissez votre secteur</h1>
            <div class="row pt-3 ml-5">
                <div class="col-12 col-md-5">
                    <h6 class="">Après avoir visionné la vidéo pour vous informer sur les opportunités offertes par la plateforme, vous êtes libre de choisir parmi les différents secteurs disponibles.</h6>
                </div>
                <div class="col-0 col-md-7"></div>
            </div>
            <div id="secteurCarousel" class="carousel carousel-dark slide slide mt-5" data-ride="carousel">
                <div class="carousel-inner">
                    {% for secteur in allSecteurs|batch(3) %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <div class="row">
                                {% for s in secteur %}
                                    {% set agentSecteur = repoAgentSecteur.findOneBy({'secteur' : s, 'agent' : agent}) %}
                                    
                                    <div class="col-12 col-lg-4">
                                        <div class="card" style="">
                                                    <img src="{{ asset('files/')}}/{{s.affiche}}" class="card-img-top" alt="...">
                                                    <div class="card-body choix-secteur-card rounded-bottom">
                                                        <div class="row card-body-part-a" >
                                                            <div class="col-8">
                                                                <h5 class=" text-white fw-bold pb-1">{{ s.nom }}</h5>
                                                                <p class="card-text">{{ s.description }}</p>
                                                            </div>
                                                            <div class="col-4">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-7">
                                                            
                                                            </div>
                                                            <div class="col-5  text-center " >
                                                            
                                                                        {% if agentSecteur is null and s.active > 0 %}
                                                                            <!-- <a href="" class="btn btn-primary" disabled><i class="fa-solid fa-location-arrow"></i> Découvrir</a> -->
                                                                            <a href="{{ path('agent_add_sector', {id: s.id}) }}" class="regular-button   font-weight-bold rounded-3 pl-3 pr-3"> Ajouter </a>
                                                                            {% elseif agentSecteur and agentSecteur.statut == true %}
                                                                                <a href="{{ path('agent_generate_sessionSecteur_before_redirect_to_route_dahsboard', {id: s.id}) }}" class="regular-button  font-weight-bold rounded-3 pl-3 pr-3"> Accéder </a>
                                                                            {% elseif agentSecteur and agentSecteur.statut == false %}
                                                                                <a class="regular-button   font-weight-bold rounded-3 pl-3 pr-3"> En attente de validation</a>
                                                                        {% endif %}
                                                            </div>
                                                        </div>
                                            
                                            
                                            
                                        </div>
                                    </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#secteurCarousel" role="button" data-slide="prev">
                    <span class="fs-1" aria-hidden="true"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#secteurCarousel" role="button" data-slide="next">
                    <span class="fs-1" aria-hidden="true"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        {% else %}
            <div class="row mt-3">
                <div class="col-12 col-md-6 mx-auto">
                    <div class="alert alert-warning text-center">
                        {% if accountStatus == USER_ACCOUNT_STATUS['UNPAID']  %}
                            {% set agent_accountStatus = USER_ACCOUNT_STATUS['UNPAID'] %}
                            <h5 class="text-warning"> Veuillez procéder au paiement pour activer votre compte </h5>
                        {% elseif expiredAccount %}
                            {% set agent_accountStatus = USER_ACCOUNT_STATUS['EXPIRED'] %}
                            Votre essaie de 14 jours sur PixelForce est expirée, veuillez procéder au paiement pour reactiver votre compte
                            <span class="mt-2">...Ou contacter le responsable pour plus d'informations</span>
                        {% endif %}

                         <div class="alert alert-secondary mt-3">
                            {% set agent = app.user %}
                            {% set agentSecteurs = repoAgentSecteur.findBy({'agent' : agent}) %}
                            <i class="fa-solid fa-circle-info me-1"></i> 
                            Vous avez choisi le(s) secteur(s) suivant(s) : <span class="fw-bolder"> {{ agent.allSecteursOfUser(agentSecteurs) }}</span>. 
                            Vous pouvez vous abonner pour seulement  <span class="fw-bolder">{{ planPrice }} euro/mois</span>.
                        </div>
                    </div>

                    <!-- Stripe form -->
                    <form  method="post" id="subscription-payment-form">
                        <div id="card-errors" role="alert"></div>
                        <div id="card-elements"></div>
        
                        <div class="w-100 text-center">
                            <button id="card-button-submit" class="btn btn-primary mt-3"><i class="fa-solid fa-cart-shopping me-1"></i> <span class="label-button">{{ stripe_defaultButton }}</span> <span class="loader-submit"></span></button>
                        </div>
                    </form>
                </div>
            </div>

          
            <input type="hidden" id="agent_accountStatus" value="{{ agent_accountStatus }}">
            <input type="hidden" id="sessionAgentId" value="{{ agent.id }}">
            <input type="hidden" id="planSubscriptionId" value="{{ plan.id }}">
            <input type="hidden" id="stripe_stripePriceId" value="{{ plan.stripePriceId }}">
            <input type="hidden" id="stripe_stripePriceName" value="{{ plan.stripePriceName }}">
            <input type="hidden" id="stripe_stripeToken" value="{{ stripe_publishable_key }}">
            <input type="hidden" id="stripe_clientSecret" value="{{ stripeIntentSecret }}">
            <input type="hidden" id="stripe_url_stripeSubscription" value="{{ path('agent_stripe_subscription_plan_account_execute') }}">
            <input type="hidden" id="stripe_urlSuccessTransaction" value="{{ path('agent_home') }}">
		    <input type="hidden" id="stripe_urlErrorTransaction" value="{{ path('agent_home') }}">
            <input type="hidden" id="stripe_defaultButton" value="{{ stripe_defaultButton }}">
            
            <input type="hidden" id="stripe_nameHolder" value="{{ agent.prenom }}">
            <input type="hidden" id="stripe_emailHolder" value="{{ agent.email }}">
            <input type="hidden" id="stripe_PostalCodeHolder" value="{{ agent.codePostal }}">     
        {% endif %}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if app.session.get('enabledContent')  == false  %}
        <script src="https://js.stripe.com/v3/"></script>     
        {{ encore_entry_script_tags('StripeAgentRegistrationSubscription') }}
    {% endif %}

    <script>
        $(function() {
            $( ".card-secteur" ).each(function( index ) {
                $(this).mouseover(function(){
                    $(this).css("box-shadow", "12px 12px 2px 1px rgba(0, 0, 0, .2)");
                    $(this).find('.secteur-info').removeClass('d-none');
                });
              
                $(this).mouseout(function(){
                    $(this).find('.secteur-info').addClass('d-none');
                    $(this).css("box-shadow", "none");
                });
            });
        })
    </script>
{% endblock %}
