{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/templates/meeting/meeting.style.css') }}">
{% endblock %}
{% block title %}
    Script d'appel
{% endblock %}
{% block body %}
    <div class="p-5 pb-5 mb-5 mt-3 bg-white border position-relative" id="form-formation">
        <h4 class="mb-3">Détail</h4>
        <p>  <span class="fw-bolder me-25">Intitulé: </span>{{ script.name}}</p>
        <p>
            {{ script.content|raw }}
        </p>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/templates/meeting/meeting.js') }}"></script>
{% endblock %}
