{% extends 'base_anonymous.html.twig' %}

{% block title %}
	Pack | Paiement
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<!-- BEGIN: Content-->
    <div class="app-content content client ecommerce-application">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">Achat {{pack.name}}  <br> <small>{{pack.cost|format_currency('EUR')}}</small></h2>
                            
                            <div class="breadcrumb-wrapper pt-2">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{path('agent_home')}}">Accueil</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="{{path('client_pack_index')}}">Liste des packs</a>
                                    </li>
                                    <li class="breadcrumb-item active"><a href="{{path('client_pack_payment', {'id': pack.id})}}">Paiement</a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="bs-stepper checkout-tab-steps">
                    <!-- Wizard starts -->
                    <div class="bs-stepper-header">                        <div class="step active" data-target="#step-payment" role="tab" id="step-payment-trigger">
                            <button type="button" class="step-trigger">
                                <span class="bs-stepper-box">
                                    <i data-feather="credit-card" class="font-medium-3"></i>
                                </span>
                                <span class="bs-stepper-label">
                                    <span class="bs-stepper-title">Paiement</span>
                                    <span class="bs-stepper-subtitle">Fournir les informations nécessaires</span>
                                </span>
                            </button>
                        </div>
                    </div>
                    <!-- Wizard ends -->
                    <div class="bs-stepper-content">
                        
                         <!-- Checkout Payment Starts -->
                        {# <div id="step-payment" class="content active dstepper-block" role="tabpanel" aria-labelledby="step-payment-trigger">
                            <form id="checkout-payment" class="list-view product-checkout" onsubmit="return false;">
                                <div class="payment-type">
                                    <div class="card">
                                        <div class="card-header flex-column align-items-start">
                                            <h4 class="card-title">Payment options</h4>
                                            <p class="card-text text-muted mt-25">Be sure to click on correct payment option</p>
                                        </div>
                                        <div class="card-body">
                                            <h6 class="card-holder-name my-75">John Doe</h6>
                                            <div class="form-check">
                                                <input type="radio" id="customColorRadio1" name="paymentOptions" class="form-check-input" checked />
                                                <label class="form-check-label" for="customColorRadio1">
                                                    US Unlocked Debit Card 12XX XXXX XXXX 0000
                                                </label>
                                            </div>
                                            <div class="customer-cvv mt-1 row row-cols-lg-auto">
                                                <div class="col-3 d-flex align-items-center">
                                                    <label class="mb-50 form-label" for="card-holder-cvv">Enter CVV:</label>
                                                </div>
                                                <div class="col-4 p-0">
                                                    <input type="password" class="form-control mb-50 input-cvv" name="input-cvv" id="card-holder-cvv" />
                                                </div>
                                                <div class="col-3">
                                                    <button type="button" class="btn btn-primary btn-cvv mb-50">Continue</button>
                                                </div>
                                            </div>
                                            <hr class="my-2" />
                                            <ul class="other-payment-options list-unstyled">
                                                <li class="py-50">
                                                    <div class="form-check">
                                                        <input type="radio" id="customColorRadio2" name="paymentOptions" class="form-check-input" />
                                                        <label class="form-check-label" for="customColorRadio2"> Credit / Debit / ATM Card </label>
                                                    </div>
                                                </li>
                                                <li class="py-50">
                                                    <div class="form-check">
                                                        <input type="radio" id="customColorRadio3" name="paymentOptions" class="form-check-input" />
                                                        <label class="form-check-label" for="customColorRadio3"> Net Banking </label>
                                                    </div>
                                                </li>
                                                <li class="py-50">
                                                    <div class="form-check">
                                                        <input type="radio" id="customColorRadio4" name="paymentOptions" class="form-check-input" />
                                                        <label class="form-check-label" for="customColorRadio4"> EMI (Easy Installment) </label>
                                                    </div>
                                                </li>
                                                <li class="py-50">
                                                    <div class="form-check">
                                                        <input type="radio" id="customColorRadio5" name="paymentOptions" class="form-check-input" />
                                                        <label class="form-check-label" for="customColorRadio5"> Cash On Delivery </label>
                                                    </div>
                                                </li>
                                            </ul>
                                            <hr class="my-2" />
                                            <div class="gift-card mb-25">
                                                <p class="card-text">
                                                    <i data-feather="plus-circle" class="me-50 font-medium-5"></i>
                                                    <span class="align-middle">Add Gift Card</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="amount-payable checkout-options">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Price Details</h4>
                                        </div>
                                        <div class="card-body">
                                            <ul class="list-unstyled price-details">
                                                <li class="price-detail">
                                                    <div class="details-title">Price of 3 items</div>
                                                    <div class="detail-amt">
                                                        <strong>$699.30</strong>
                                                    </div>
                                                </li>
                                                <li class="price-detail">
                                                    <div class="details-title">Delivery Charges</div>
                                                    <div class="detail-amt discount-amt text-success">Free</div>
                                                </li>
                                            </ul>
                                            <hr />
                                            <ul class="list-unstyled price-details">
                                                <li class="price-detail">
                                                    <div class="details-title">Amount Payable</div>
                                                    <div class="detail-amt fw-bolder">$699.30</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div> #}
                        <!-- Checkout Payment Ends -->

                        <div class="block block--rounded">
                            <h1 class="block__text block__text--center mt-2" >Montant total dû: {{pack.cost | format_currency('EUR')}} + {{subscription.amount | format_currency('EUR')}}/{{subscription.interval}}</h1>
                                
                                {{ form_start(form, {'attr': {'class': 'my-form', 'id': 'pack_pay_form'}}) }}
                                    {% if error %}
                                    <div class="alert alert-danger" role="alert">
                                        <div class="alert-body">
                                            {{error}}
                                        </div>
                                    </div>
                                    {% endif %}
                                    
                                    <div class="my-form-widget">
                                        {{form_label(form.fullname)}}
                                        {{form_widget(form.fullname)}}
                                        {{form_errors(form.fullname)}}
                                    </div>
                                    <div class="my-form-widget">
                                        <label for="pack_pay_form_carte" class="form-label">Numéro de carte</label>
                                        <div id="pack_pay_form_carte" class="form-control">
                                        </div>
                                        <div id="pack_pay_form_carte_error" class="invalid-feedback d-block"></div> 
                                    </div>
                                    <div class="my-form-widget">
                                        <label for="pack_pay_form_dateExpiration" class="form-label">Date d'expiration</label>
                                        <div id="pack_pay_form_dateExpiration" class="form-control">
                                        </div>
                                        <div id="pack_pay_form_dateExpiration_error" class="invalid-feedback d-block"></div> 
                                    </div>

                                    <div class="my-form-widget">
                                        <label for="pack_pay_form_codeSecurite" class="form-label">Code de sécurité</label>
                                        <div id="pack_pay_form_codeSecurite" class="form-control">
                                        </div>
                                        <div id="pack_pay_form_codeSecurite_error" class="invalid-feedback d-block"></div> 
                                    </div>
                                    {{form_widget(form.token)}}
                                    <div class="btn-wrap">
                                        <button class="btn btn-primary" type="submit"><i data-feather="send"></i>Payer {{(pack.cost + subscription.amount) | format_currency('EUR')}}</button>
                                    </div>
                                {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                
                    
                    <!-- Checkout Place order Ends -->
                </div>
                    
            </div>
        </div>
    </div>
    <!-- END: Content-->
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var clientSecret = '{{ stripeIntentSecret }}';
        var form = document.getElementById('pack_pay_form');
        var stripe = Stripe('{{ stripe_public_key }}');
        var elements = stripe.elements();

        var cardNumberElement = document.getElementById('pack_pay_form_carte');
        var cardNumberErrorElement = document.getElementById('pack_pay_form_carte_error');
        var cardNumber = elements.create('cardNumber');
        
        cardNumber.mount('#pack_pay_form_carte');
        cardNumber.addEventListener('change', function(event) {
            if (event.error) {
            cardNumberErrorElement.textContent = event.error.message;
            cardNumberElement.classList.add('is-invalid');
            } else {
            cardNumberErrorElement.textContent = '';
            cardNumberElement.classList.remove('is-invalid');
            }
        });

        var cardExpiryElement = document.getElementById('pack_pay_form_dateExpiration');
        var cardExpiryErrorElement = document.getElementById('pack_pay_form_dateExpiration_error');
        var cardExpiry = elements.create('cardExpiry');
        
        cardExpiry.mount('#pack_pay_form_dateExpiration');
        cardExpiry.addEventListener('change', function(event) {
            if (event.error) {
            cardExpiryErrorElement.textContent = event.error.message;
            cardExpiryElement.classList.add('is-invalid');
            } else {
            cardExpiryErrorElement.textContent = '';
            cardExpiryElement.classList.remove('is-invalid');
            }
        });


        var cardCvcElement = document.getElementById('pack_pay_form_codeSecurite');
        var cardCvcErrorElement = document.getElementById('pack_pay_form_codeSecurite_error');
        var cardCvc = elements.create('cardCvc');
        
        cardCvc.mount('#pack_pay_form_codeSecurite');
        cardCvc.addEventListener('change', function(event) {
            if (event.error) {
            cardCvcErrorElement.textContent = event.error.message;
            cardCvcElement.classList.add('is-invalid');
            } else {
            cardCvcErrorElement.textContent = '';
            cardCvcElement.classList.remove('is-invalid');
            }
        });
        
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            var options = {
               
            };
            /*stripe.createToken(cardNumber, options).then(function(result) {
                if (result.error) {
                    alert(result.error.message);
                } else {
                    document.getElementById('{{ form.children.token.vars.id }}').setAttribute('value', result.token.id);
                    form.submit();
                }
            });*/
            stripe.handleCardPayment(
                clientSecret,
                cardNumber
            ).then(async (result) => {
                if (result.error) {
                    alert(result.error.message);
                }else if('paymentIntent' in result){
                    // document.getElementById('{{form.children.token.vars.id}}').setAttribute('value', result.paymentIntent.id);
                    let paymentMethodId = await createPaymentMethod(cardNumber);
                    document.getElementById('{{form.children.token.vars.id}}').setAttribute('value', paymentMethodId);
                    form.submit();
                }
            }); 
        }); 
        async function createPaymentMethod(cardElement) {
            const result = await stripe.createPaymentMethod({
                type: 'card',
                card: cardElement,
            });

            if (result.error) {
                return null;
            } 
            console.log(result);
            return result.paymentMethod.id;
        }
        
        
    });
  
 
  
</script>
{% endblock %}

