<nav class="header-navbar navbar navbar-expand-lg align-items-center floating-nav navbar-light navbar-shadow ">
    <div class="navbar-container d-flex justify-content-center align-items-center">
        <ul class="nav navbar-nav d-block d-xl-none d-flex align-items-center">
            <li class="nav-item pt-2">
                <a class="navbar-brand" href="{{
                is_granted('ROLE_ADMINISTRATEUR') ? path('admin_dashboard') : (
                    is_granted('ROLE_AGENT') ? (
                        app.request.session.get('secteurId') ?
                            path('agent_dashboard_secteur', {id:app.request.session.get('secteurId')}) : path('agent_home')
                    )  : ( is_granted('ROLE_COACH') ? path('app_dashboard') : '#' ))
                }}">
                    <span><img src="/assets/img/logo/pixelforce/logo-pixelforce-00.png" class="img-fluid" alt="logo-pixelforce" width="35"></span>
                    <h2 class="brand-text text-black fw-bolder" style="font-size: 3vw">PIXELFORCE</h2>
                </a>
            </li>
           
          
            
            <li class="nav-item {% if hideMenu is defined and hideMenu  %}d-none{% endif %}">
                <a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse"><i class="fa fa-bars fs-5" aria-hidden="true"></i></a>
            </li>
          
            
        </ul>
        <ul class="nav navbar-nav d-none d-xl-block">
            <li class="nav-item">
               <h3 class="general-primary-text">Bonjour {{app.user.prenom|default(' ')}} !</h3>
            </li>
        </ul>
        {% if app.session.get('secteurId') %}
        {% set data = get_stat() %}
        {% set statDigitalGlobalVariable = data.statDigital %}
        {% set nbVentesTotalGlobalVariable = data.nbVentesTotal %}
        {% set nbrRdvGlobalVariable = data.nbrRdv %}
        {% set chiffreAffaireTotalGlobalVariable = data.chiffreAffaireTotal %}
        {% set soldeRemunerationGlobalVariable = data.soldeRemuneration %}
        {% set typeSecteurId = app.session.get('typeSecteurId') %}
        {% set isSecurite = typeSecteurId == constant('App\\Entity\\TypeSecteur::SECURITE') %}
        {% set isDemandeDevis = typeSecteurId == constant('App\\Entity\\TypeSecteur::DEMANDE_DEVIS') %}
        {% set isEcommerce = typeSecteurId == constant('App\\Entity\\TypeSecteur::ECOMMERCE') %}
       
        <ul class="d-none d-xl-block">
             <div class="d-flex align-items-center">
             {% if app.session.get('secteurId') != secteur_finance_id %}
                {% if secteurAgent.isFonctionnaliteActive(constant('App\\Util\\FonctionnalitesTypeSecteur::FONCTIONNALITE_STANDARD_VENTE')) %}
                <div class="col-auto">
                    <div class="d-flex flex-row align-items-center mx-2 ">
                        <div class="">
                            <div class="text-center avatar-statistique-nav-bar rounded-circle bg-light-warning me-2">
                                <a {% if app.user.canAccessFonct('VENTE', app.session.get('secteurId')) %}href="{% if isSecurite %}{{path('admin_ordersecu_list')}}{% elseif isEcommerce %}{% if app.session.get('secteurId') == secteurDigitalId  %}{{path('agent_order_list_digital')}}{% else %}{{path('agent_order_list')}}{% endif %}{% elseif isDemandeDevis %}{{path('agent_demandedevis_list')}}{% else %}#{% endif %}"{% endif %}>
                                    <i class="fa-solid fa-arrow-trend-up fs-4  text-warning"></i>
                                </a>
                            </div>
                        </div>
                        <div class="my-auto">
                            <h4 class="card-text font-small-1 mb-0 d-none d-xl-block">Ventes</h4>
                            <h6 class="fw-bolder mb-0">
                                {{(statDigitalGlobalVariable ? statDigitalGlobalVariable.orderCount : nbVentesTotalGlobalVariable) | number_format(0, ',', ' ')}}
                            </h6>
                            
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if secteurAgent.isFonctionnaliteActive(constant('App\\Util\\FonctionnalitesTypeSecteur::FONCTIONNALITE_COMMON_RDV')) %}
                <div class="col-auto">
                    <div class="d-flex flex-row align-items-center mx-2">
                        <div class="">
                            <div class="text-center avatar-statistique-nav-bar rounded-circle bg-light-primary me-2">
                                <a {% if app.user.canAccessFonct('RDV', app.session.get('secteurId')) %}href="{{path('agent_contact_meeting_list')}}"{% endif %}>
                                    <i class="fa fa-handshake fs-4 mt-2 text-primary"></i>
                                </a>
                            </div>
                        </div>
                        <div class="my-auto">
                            <h4 class="card-text font-small-1 mb-0 d-none d-xl-block">Rendez-vous</h4>
                            <h6 class=" mb-0 fw-bolder">{{nbrRdvGlobalVariable | number_format(0, ',', ' ')}}</h6>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="col-auto">
                    <div class="d-flex flex-row align-items-center mx-2">
                        <div class="">
                            <div class="avatar-statistique-nav-bar rounded-circle bg-light-danger me-2 text-center">
                                <a class="" {% if app.user.canAccessFonct('VENTE', app.session.get('secteurId')) %}href="{% if isSecurite %}{{path('admin_ordersecu_list')}}{% elseif isEcommerce %}{% if app.session.get('secteurId') == secteurDigitalId  %}{{path('agent_order_list_digital')}}{% else %}{{path('agent_order_list')}}{% endif %}{% elseif isDemandeDevis %}{{path('agent_demandedevis_list')}}{% else %}#{% endif %}"{% endif %}>
                                    <i class="fa-solid fa-money-bill-wave fs-4 mt-2 text-danger"></i>
                                </a>
                            </div>
                        </div>
                        <div class="my-auto">
                            <h4 class="card-text font-small-1 mb-0 d-none d-xl-block">Chiffre d’affaires</h4>
                            <h6 class="fw-bolder mb-0 ">
                                {{ (statDigitalGlobalVariable ? statDigitalGlobalVariable.totalAmount : chiffreAffaireTotalGlobalVariable ) | number_format(2, ',', ' ')}} €  
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="d-flex flex-row  align-items-center mx-2">
                        <div class=" ">
                            <div class="text-center avatar-statistique-nav-bar rounded-circle bg-light-success me-2">
                                <a href="#"><i class="fa-solid fa-dollar-sign fs-4 mt-2 text-success"></i></a>
                            </div>
                        </div>
                        <div class="my-auto">
                            <h4 class="card-text font-small-1 mb-0 text-dark-template d-none d-xl-block">Rémunération</h4>
                            <h6 class="fw-bolder mb-0 ">
                                {{ soldeRemunerationGlobalVariable | number_format(2, ',', ' ')}} €  
                            </h6>
                            
                        </div>
                    </div>
                </div>
                {% else %}
                {% set statFinance = data.statFinance %}
                {% if statFinance.total_invested_number is defined %}
                <div class="col-auto">
                    <div class="d-flex flex-row  align-items-center mx-2">
                        <div class=" ">
                            <div class="text-center avatar-statistique-nav-bar rounded-circle bg-light-success me-2">
                                <a href="#"><i class="fa-solid fa-dollar-sign fs-4 mt-2 text-success"></i></a>
                            </div>
                        </div>
                        <div class="my-auto">
                            <h4 class="card-text font-small-1 mb-0 text-dark-template d-none d-xl-block">Total investi</h4>
                            <h6 class="fw-bolder mb-0 ">
                                {{ statFinance.total_invested_number | number_format(2, ',', ' ')}} $  
                            </h6>
                            
                        </div>
                    </div>
                </div>
                {% endif  %}
                {% if statFinance.total_returns_number is defined %}
                <div class="col-auto">
                    <div class="d-flex flex-row  align-items-center mx-2">
                        <div class=" ">
                            <div class="text-center avatar-statistique-nav-bar rounded-circle bg-light-danger me-2">
                                <a href="#"><i class="fa-solid fa-dollar-sign fs-4 mt-2 text-danger"></i></a>
                            </div>
                        </div>
                        <div class="my-auto">
                            <h4 class="card-text font-small-1 mb-0 text-dark-template d-none d-xl-block">Rendement total</h4>
                            <h6 class="fw-bolder mb-0 ">
                                {{ statFinance.total_returns_number | number_format(2, ',', ' ')}} $  
                            </h6>
                            
                        </div>
                    </div>
                </div>
                {% endif  %}
                {% if statFinance.total_returns_percent_number is defined %}
                <div class="col-auto">
                    <div class="d-flex flex-row  align-items-center mx-2">
                        <div class=" ">
                            <div class="text-center avatar-statistique-nav-bar rounded-circle bg-light-success me-2">
                                <a href="#"><i class="fa-solid fa-percent fs-4 mt-2 text-success"></i></a>
                            </div>
                        </div>
                        <div class="my-auto">
                            <h4 class="card-text font-small-1 mb-0 text-dark-template d-none d-xl-block">Pourcentage de rendement total</h4>
                            <h6 class="fw-bolder mb-0 ">
                                {{ statFinance.total_returns_percent_number | number_format(2, ',', ' ')}} %  
                            </h6>
                            
                        </div>
                    </div>
                </div>
                {% endif  %}
                {% if statFinance.wallet_balance_number is defined %}
                <div class="col-auto">
                    <div class="d-flex flex-row  align-items-center mx-2">
                        <div class=" ">
                            <div class="text-center avatar-statistique-nav-bar rounded-circle bg-light-danger me-2">
                                <a href="#"><i class="fa-solid fa-dollar-sign fs-4 mt-2 text-danger"></i></a>
                            </div>
                        </div>
                        <div class="my-auto">
                            <h4 class="card-text font-small-1 mb-0 text-dark-template d-none d-xl-block">Solde</h4>
                            <h6 class="fw-bolder mb-0 ">
                                {{ statFinance.wallet_balance_number | number_format(2, ',', ' ')}} $  
                            </h6>
                            
                        </div>
                    </div>
                </div>
                {% endif  %}
                {% endif %}
               
            </div>
        </ul>
        {% endif %}
        <ul class="nav navbar-nav align-items-center ms-auto">
            <li class="nav-item dropdown dropdown-user">      
                   <div class="d-flex align-items-center">
                        <div class="avatar me-3 ml-5">
                                <img class="round object-fit-cover h-100 w-100"
                                    src="{{ path('user_avatar', {id:app.user.id}) }}"
                                    onerror='this.onerror=null; this.src="{{ asset('assets/vuexy/images/portrait/small/avatar-s-11.jpg') }}"'
                                    alt="avatar" >
                        </div>

                        <div class="user-nav  me-2 d-none d-md-block">
                            <ul class="list-unstyled p-0">
                                <li class="p-0">
                                    <span class="user-status header-user">{{ app.user.prenom|default(' ') }}</span>
                                    <span class="user-name header-user" >{{ app.user.nom }}</span>
                                </li>
                                <li class="d-flex p-0">
                                    <span class="">
                                        <a class="header-user text-primary" href="#"  onclick="copyLink('{{ url('agent_inscription', {'ambassador_username':  app.user.username != "" ?  app.user.username : ' '}) }}') " >
                                            Lien de parrainage
                                            <i class="fa-solid fa-copy"></i>
                                        </a>
                                    </span>
                                </li>
                            </ul>
                        </div>

                        <div>
                            <a class="nav-link dropdown-toggle dropdown-user-link" id="dropdown-user" href="#" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-caret-down"></i></a>
                        </div>
                    </div>


                
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-user">
                    <a class="dropdown-item" href="{{ path('user_accountSetting', {id:app.user.id}) }}"><i class="me-50" data-feather="user"></i> Mon compte</a>
                    <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="me-50" data-feather="power"></i> Se déconnecter</a>
                </div>   
            </li>
        </ul>
    </div>
</nav>
