<nav class="header-navbar navbar navbar-expand-lg align-items-center floating-nav navbar-light navbar-shadow container-xxl">
    <div class="navbar-container d-flex content">
        <ul class="nav navbar-nav d-block d-xl-none">
            <li class="nav-item pt-2">
                <a class="navbar-brand" href="{{
                is_granted('ROLE_ADMINISTRATEUR') ? path('admin_dashboard') : (
                    is_granted('ROLE_AGENT') ? (
                        app.request.session.get('secteurId') ?
                            path('agent_dashboard_secteur', {id:app.request.session.get('secteurId')}) : path('agent_home')
                    )  : ( is_granted('ROLE_COACH') ? path('app_dashboard') : '#' ))
                }}">
                    <span><img src="/assets/img/logo/pixelforce/logo-pixelforce-00.png" class="img-fluid" alt="logo-pixelforce" width="35"></span>
                    <h2 class="brand-text text-black fw-bolder" style="font-size: 2vw">PIXELFORCE</h2>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse"><i class="fa fa-bars fs-5" aria-hidden="true"></i></a>
            </li>
        </ul>
        <ul class="nav navbar-nav align-items-center ms-auto">
            <li class="nav-item">
                <i class="fa-regular fa-bell fs-4 pt-2"></i>
            </li>
            <li class="nav-item dropdown dropdown-user">
                <a class="nav-link dropdown-toggle dropdown-user-link" id="dropdown-user" href="#" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="avatar">
                        <img class="round"
                             src="{{ path('user_avatar', {id:app.user.id}) }}"
                             onerror='this.onerror=null; this.src="{{ asset('assets/vuexy/images/portrait/small/avatar-s-11.jpg') }}"'
                             alt="avatar" height="40">
                    </span>

                     <div class="user-nav pt-3">
                        <h6 class="">
                            <span class="user-status">{{app.user.prenom|default(' ')}}</span>  <span class="user-name ">{{app.user.nom}}</span>
                        </h6>
                    </div>
                     <div class="">
                        <i class="fa-solid fa-caret-down fs-2 p-0"></i>
                    </div>

                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-user">
                    <a class="dropdown-item" href="{{ path('user_accountSetting', {id:app.user.id}) }}"><i class="me-50" data-feather="user"></i> Mon compte</a>
                    <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="me-50" data-feather="power"></i> Se déconnecter</a>
                </div>   
            </li>
        </ul>
    </div>
</nav>
