
    {% set isLastStep = (index == positionSteps|length) %}
    {% set isFirstStep = index == 1 %}
    {% set isCompleted = (step.position <= app.user.position) %}
    {% set isCurrent = (isCompletedBefore and not isCompleted) %}
    {% set isVisible = (temoin or index == visible ) %}
    {% set nextVisible = visible + 1  %}
    {% set prevVisible = visible - 1  %}

    {% set pourcentage = 0 %}
    {% if isCompleted %}
        {% set pourcentage = 100 %}
    {% endif %}
        <div {% if isVisible %} class="card  m-1 d-block"  {% else %} class="card  m-1 d-none"  {% endif %}>
            <div class="m-3">
                <div class="d-flex">
                    <div class="">
                        <h4 class=" general-primary-text">Position actuelle</h4>
                        <div class="d-flex  ">
                            <div clas="progression-positon-part1">
                                <a class="progression-positon-chiffre rounded-circle d-block " href="" >
                                <p class="text-center pt-4 fs-1 text-white">{{step.position}}</p>
                                </a>
                            </div>
                            <div class="progression-positon-part1 progression-positon-part1-b">
                                <h6 class="general-primary-text">Position {{step.position}}</h6>
                                <p class="">{{step.label}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <h1 class="progression-positon-part2 text-center">{{step.position}}</h1>
                    </div>
                </div>
                <div class="row ">
                    <div class=" col-9">
                        <p class="m-0"><i class="fa fa-usd" aria-hidden="true"></i>   Chiffre d'affaire:  <span class="text-tableau fw-bolder">-</span></p>
                        <p class="p-0"><i class="fa fa-usd" aria-hidden="true"></i>  Atelier directe:  <span class="text-tableau fw-bolder">-</span></p>
                    </div>
                    <div class=" col-2">
                    <h6 class="text-center p-0">{{pourcentage}}%</h6>
                    </div>
                </div>
                <div class="progress" role="progressbar" aria-label="Default striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                    <div class="vision-section" style="width: {{pourcentage}}%"></div>
                </div>
                <div class="row align-items-center">
                   
                    
                    <div class=" col-6 ">
                        {% if not isFirstStep and not temoin  %}
                            <form action="" method="get">
                            <input type="hidden" name="visible" value="{{prevVisible}}">
                            <button type="submit" class="btn btn-link text-right text-dark-template">Position Précédente</button>
                            </form>
                        {% endif %}
                    </div>
                    <div class=" col-6 text-end">
                    {% if not isLastStep and not temoin %}
                        <form action="" method="get">
                        <input type="hidden" name="visible" value="{{nextVisible}}">
                        <button type="submit" class="btn btn-link text-right text-dark-template">Position Suivante</button>
                        </form>
                    {% endif %}
                    </div>
                </div>
            
            </div>
        </div>
{% set isCompletedBefore = isCompleted %}