{% extends 'base.html.twig' %}

{% block title %}
	Liste des ressources
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %} 
    <div class="block block--bordered block--rounded">
        <div class="block__header mb-1" >
            <h1 class="block__title">Liste des ressources :</h1>
            <div class="fab-btn-wrap">
                <a  href="{{path('app_coach_add_ressources',{'id_parent':id }  )}}" class="btn btn-primary btn--rounded fab-btn"><i data-feather="plus"></i>Nouveau dossier</a>
            </div>
        </div>
        {% if ressources|length ==0 %}
                <div class="alert alert-primary p-3 text-center" role="alert">
                    <div class="alert-body">
                        Aucune ressource disponible pour le moment.
                    </div>
                </div>
        {% endif %}
        {% if ressources|length != 0 %}
            {% set total = ressources|length %}
            {% for i in 0..(total // 3) %}
                <div class="row">
                    {% for j in 0..2 %}
                        {% set index = i * 3 + j %}
                        {% if index < total %}
                            <div class="col-md-4">
                                <a href="{{ path('app_coach_ressources', {'id_parent': ressources[index].id }) }}" style="display: flex; flex-direction: column; justify-content: space-around;">
                                    <div class="d-flex justify-content-center align-items-center position-relative" style="background-color: #a5b7c1; height: 200px; border-radius: 6px;">
                                        <img src="{{ asset('assets/img/dossier.png') }}" alt="Logo Securitas" style="height: 80px;" />

                                        <div class="icon-container" style="position: absolute; bottom: 10px; right: 10px; display: flex; gap: 10px;">
                                            {# <a  href="{{path('app_coach_add_ressources', {'id': ressources[index].id}) }}" class="btn btn-primary btn--rounded fab-btn"><i data-feather="plus"></i>
                                            </a> #}
                                            <a href="{{path('app_coach_edit_ressources', {'id': ressources[index].id, 'id_parent': id }) }}" class="btn btn-primary btn--rounded fab-btn">
                                                <i data-feather="edit"></i>
                                            </a>
                                            <a href="{{ path('app_coach_delete_ressources', { 'id': ressources[index].id, 'id_parent': id }) }}" class="btn btn-primary btn--rounded fab-btn">
                                                <i data-feather="trash" style="font-size: 24px;"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <p>Nom: {{ ressources[index].nom }}</p>
                                    <p>Item(s): {{ ressources[index].item }}</p>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}