{% set secteurId = app.session.get('secteurId') %}
{% set secteur = secteurRepository.find(secteurId) %}
{% set fraisLivraison = configSecteurService.calculerFraisDeLivraison(totalCost, secteur) %}
{% set configTva = configSecteurService.findTva(secteur) %}
{% set active = 'address' %}
{% extends 'user_category/client/aroma/cart/base_cart.html.twig' %}



{% block content_basket %} 
<div id="step-address" class="content client active dstepper-block" role="tabpanel" aria-labelledby="step-address-trigger">
    
    {{ form_start(form, {'attr': {'class': 'list-view product-checkout'}}) }}
    {# <form id="checkout-address" class="list-view product-checkout"> #}
        <!-- Checkout Customer Address Left starts -->
        <div class="card">
            <div class="card-header flex-column align-items-start">
                <h4 class="card-title display-4 p-3">Vos informations</h4>
                {# <p class="card-text text-muted mt-25">Be sure to check "Deliver to this address" when you have finished</p> #}
            </div>
            <div class="card-body pt-3">
                
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="mb-2">
                            {{form_label(form.lastname)}}
                            {{form_widget(form.lastname)}}
                            {{form_errors(form.lastname)}}
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="mb-2">
                            {{form_label(form.firstname)}}
                            {{form_widget(form.firstname)}}
                            {{form_errors(form.firstname)}}
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="mb-2">
                            {{form_label(form.phone)}}
                            {{form_widget(form.phone)}}
                            {{form_errors(form.phone)}}
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="mb-2">
                            {{form_label(form.mail)}}
                            {{form_widget(form.mail)}}
                            {{form_errors(form.mail)}}
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="mb-2">
                            {{form_label(form.deliveryAddress)}}
                            {{form_widget(form.deliveryAddress)}}
                            {{form_errors(form.deliveryAddress)}}
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="mb-2">
                            {{form_label(form.postalCode)}}
                            {{form_widget(form.postalCode)}}
                            {{form_errors(form.postalCode)}}
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="mb-2">
                            {{form_label(form.city)}}
                            {{form_widget(form.city)}}
                            {{form_errors(form.city)}}
                        </div>
                    </div>
                    

                    <div class="col-md-12 col-sm-12">
                        <div class="mb-2">
                            {{form_label(form.billingAddress)}}
                            {{form_widget(form.billingAddress)}}
                            {{form_errors(form.billingAddress)}}
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="mb-2">
                            {{form_label(form.billingPostalCode)}}
                            {{form_widget(form.billingPostalCode)}}
                            {{form_errors(form.billingPostalCode)}}
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="mb-2">
                            {{form_label(form.billingCity)}}
                            {{form_widget(form.billingCity)}}
                            {{form_errors(form.billingCity)}}
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12">
                        <div class="mb-2">
                            {{form_label(form.notes)}}
                            {{form_widget(form.notes)}}
                            {{form_errors(form.notes)}}
                        </div>
                    </div>
                    
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-next delivery-address mt-3">Enregistrer et commander<i class="fa fa-shopping-cart ms-2"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Checkout Customer Address Left ends -->

        <!-- Checkout Customer Address Right starts -->
        <div class="checkout-options" >
            <div class="card">
                <div class="card-body">
                    <label class="section-label form-label mb-3">Détails de la commande</label>
                    <div class="price-details">
                        
                        <ul class="list-unstyled">
                            
                            
                            <li class="price-detail">
                                <div class="detail-title detail-total">Sous-total</div>
                                <div class="detail-amt fw-bolder" >{{totalCost| number_format(2, ',', ' ')}} €</div>
                            </li>
                            <li class="price-detail">
                                <div class="detail-title detail-total">TVA ({{configTva | number_format(0, ',', ' ')}} %)</div>
                                <div class="detail-amt fw-bolder" >{{(totalCost * configTva / (100 + configTva))| number_format(2, ',', ' ')}} €</div>
                            </li>
                            <li class="price-detail mt-4">
                                <div class="detail-title detail-total">Prix net (sans TVA)</div>
                                <div class="detail-amt fw-bolder" >{{(totalCost / (1.0 + configTva/100))| number_format(2, ',', ' ')}} €</div>
                            </li>
                            <li class="price-detail">
                                <div class="detail-title detail-total">Frais de livraison</div>
                                <div class="detail-amt fw-bolder" > {{fraisLivraison| number_format(2, ',', ' ')}} €</div>
                                
                            </li>
                            
                            
                            <li class="price-detail">
                                <div class="detail-title detail-total">Prix total (TVA incluse)</div>
                                <div class="detail-amt fw-bolder" >{{(totalCost + fraisLivraison)| number_format(2, ',', ' ')}} €</div>
                            </li>

                        </ul>
                        
                    </div>
                </div>
            </div>
            <!-- Checkout Place Order Right ends -->
        </div>
        <!-- Checkout Customer Address Right ends -->
    {# </form> #}
    {{ form_end(form) }}
</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">  
                
    </script>
{% endblock %}

