{% extends 'base_admin.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('vuexy_dashboard_ecommerce') }}
    {# {{ encore_entry_link_tags('vuexy_chart_apex') }} #}
{% endblock %}

{% set typeSecteurId = app.user.uniqueCoachSecteur.type.id %}
{% set estSecurite = typeSecteurId == constant('App\\Entity\\TypeSecteur::SECURITE') %}
{% set estDemandeDevis = typeSecteurId == constant('App\\Entity\\TypeSecteur::DEMANDE_DEVIS') %}
{% set estEcommerce = typeSecteurId == constant('App\\Entity\\TypeSecteur::ECOMMERCE') %}

{% block body %}
    <section id="dashboard-ecommerce">

        <div class="row match-height">
            <div class="col-lg-8 col-12">
                <div class="card card-company-table">
                    <div class="card-body p-0">
                        <div class="card-body p-0">
                            {% if formations == null %}
                                <div class="alert alert-primary text-center m-5">
                                    Il n'y a plus de formation à terminer
                                </div>
                            {% else %}
                                {% if currentCategorie and currentCategorie.ordreCatFormation == constant('App\\Entity\\CategorieFormation::ORDRE_LISTE_DE_CONTACT') and nbrAllMyContacts < constant('App\\Entity\\CategorieFormation::CONDITION_LISTE_DE_CONTACT') %}
                                    <h3 class="fw-bolder text-center mt-2">{{ firstFormation.titre}} </h3>    
                                    <div class="alert alert-warning m-5 text-center h2">
                                        Pour débloquer cette formation, assurez-vous d’avoir enregistré plus de 100 contacts dans votre liste de prospection.
                                    </div>
                                {% else %}
                                    <h3 class="fw-bolder text-center mt-2">{{ firstFormation.titre}} </h3>
                                    <div class="border d-flex bg-white">
                                        <iframe src="https://player.vimeo.com/video/{{ firstFormation.videoId }}" width="700" height="400" class="m-auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                    </div>
                                    <div class="text-center m-2 p-2">
                                        <div class="row">
                                            <div class="col">
                                                <a href="{{ path('agent_formation_fiche', {id:firstFormation.id}) }}" class="btn btn-primary fw-bolder mt-4"><i class="fa-solid fa-file me-2"></i> Fiche formation</a>
                                            </div>
                                            <div class="col">
                                                <a href="{{ path('agent_formation_terminer', {id:firstFormation.id, path: 'fromDashboard'}) }}" class="btn btn-success fw-bolder mt-4"><i class="fa fa-check"></i> J'ai terminé cette formation</a>
                                            </div>
                                            <div class="col">
                                                <a href="{{ path('agent_formation_list') }}" class="btn btn-secondary fw-bolder mt-4"><i class="fa-solid fa-list me-2"></i> Liste des formations</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>

            <!-- Developer Meetup Card -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="card-body position-relative mb-2">
					<h5 class="card-title">Copier le lien d'affiliation</h5>
					<p class="card-text">Pour inviter d'autres personnes à se joindre à vous, veuillez cliquer ici.</p>
					<a class="btn btn-primary w-100 font-weight-bold" href="#" onclick="copyLink('{{ url('agent_inscription', {'ambassador_username':  app.user.username != "" ?  app.user.username : ' '}) }}') " >Copier</a>
				</div>
                <div class="card card-developer-meetup position-relative">
                    <div class="position-absolute right-0 top-0 m-3">
                        <a href="{{ path('calendar_index') }}" class="btn btn-primary d-flex justify-content-center align-items-center">Mon Agenda <i data-feather="calendar" class="ms-3"></i></a>
                    </div>
                    <div class="meetup-img-wrapper rounded-top text-center">
                        <img src="{{asset('assets/vuexy/images/illustration/email.svg')}}" alt="Meeting Pic" height="170" />
                    </div>
                    <div class="card-body">
                        {% set day_of_week = { 
                                "Monday": "Lundi", 
                                "Tuesday": "Mardi", 
                                "Wednesday": "Mercredi", 
                                "Thursday": "Jeudi", 
                                "Friday": "Vendredi", 
                                "Saturday": "Samedi", 
                                "Sunday": "Dimanche" 
                            } 
                        %}
                        {% for event in eventsOfTheDay %}
                        <div class="meetup-header d-flex align-items-center">
                            <div class="meetup-day">
                                <h6 class="mb-0 text-uppercase">{{day_of_week[event.start|date("l")]}}</h6>
                                <h3 class="mb-0">{{event.start|date("d")}}</h3>
                            </div>
                            <div class="my-auto">
                                <h4 class="card-title mb-25">{{event.title}}</h4>
                                <p class="card-text mb-0">{{event.start|date("\\à g\\hi")}}</p>
                            </div>
                        </div>
                        {% endfor %}
                        {% for event in upcomingEvents %}
                        <div class="mt-0">
                            <div class="avatar float-start bg-light-primary rounded me-1">
                                <div class="avatar-content">
                                    <i data-feather="calendar" class="avatar-icon font-medium-3"></i>
                                </div>
                            </div>
                            <div class="more-info">
                                <h6 class="mb-0">{{event.title}}</h6>
                                <small>{{event.start|date("d/m/Y \\à g\\hi")}}</small>
                            </div>
                        </div>
                        {% endfor %}
                        {% if upcomingEvents|length == 0 %}
                            <div class="alert alert-secondary">Aucun évenement à venir.</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!--/ Developer Meetup Card -->
             {#
            <div class="col-lg-12 col-12">
                <h6 class="display-6" style="font-size : 20px;">Votre liste de contact :</h6>
                <div class="card card-company-table pb-5" style="min-height: 300px;">
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr class="text-center">
                                        <th scope="col" class="p-3"></th>
                                        <th scope="col" class="p-3">Prénoms</th>
                                        <th scope="col" class="p-3">Email</th>
                                        <th scope="col" class="p-3">Téléphone</th>
                                        <th scope="col" class="p-3">Adresse</th>
                                        <th scope="col" class="p-3">Tags</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% if contacts|length < 1 %}
                                        <div class="d-flex justify-content-center my-2">
                                            <a href="{{ path('agent_contact_info_add') }}" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Ajouter un contact</a>
                                        </div>
                                    {% else %}
                                        {% for contact in contacts %}
                                        {% set information = contact.information %}
                                            <tr class="text-center">
                                                <td class="text-center"><i class="fa-solid fa-address-card"></i></td>
                                                <td><a href="{{ path('agent_contact_view', {'id': contact.id}) }}" class="text-black"> {{ information.lastname }}</a></td>
                                                <td><a href="{{ path('agent_contact_view', {'id': contact.id}) }}" class="text-black" > {{ information.email }}</a></td>
                                                <td>{{ information.phone }}</td>
                                                <td>{{ information.address }}</td>
                                                <td class="d-flex justify-content-center">
                                                    {% set tags = information.contact.tags.toArray %}
                                                    {% for tag in tags %}
                                                        <div class="caret caret-shadow caret-hoverable rounded-3 d-inline-block bg-{{ tag.couleur }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="{{ tag.libelle }}"></div>
                                                    {% endfor %}
                                                </td>

                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                        {% if contacts|length > 0 %}
                        <div class="position-absolute bottom-0 start-50 translate-middle-x mb-3">
                            <a href="{{ path('agent_contact_list') }}" class="btn btn-primary float-bottom">Voir plus <i class="fa-solid fa-circle-arrow-right ms-1"></i></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
             #}
        </div>
        
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('app-assets/vendors/js/charts/apexcharts.min.js')}}" defer></script> 
    {# {{ encore_entry_script_tags('vuexy_dashboard_ecommerce_js') }} #}
    <script type="text/javascript">
        $(window).on('load', function () {
            var revenuAnnee = {{revenuAnnee.result |json_encode() | raw}};
            var data = [];
            var label = [];
            for(let i=0;i<revenuAnnee.length; i++){
                data.push(parseInt(revenuAnnee[i]['montant']));
                label.push(revenuAnnee[i]['mois_str']);
            }

            var $revenueReportChart = document.querySelector('#revenue-report-chart');
            var formAnnee = $('#form-annee');
            var revenueReportChartOptions;
            var revenueReportChart;
            var $textMutedColor = '#b9b9c3';
            var anneeSelected = $('#anneeSelected');


            $('#anneeContainer .annee-item').click(function (e){
                let val = $(this).attr('data-annee');
                anneeSelected.html(val);
                formAnnee.find('input[name="annee"]').val(val);
                formAnnee.submit();
            });

            //------------ Revenue Report Chart ------------
            //----------------------------------------------
            revenueReportChartOptions = {
                chart: {
                height: 230,
                stacked: true,
                type: 'bar',
                toolbar: { show: false }
                },
                plotOptions: {
                bar: {
                    columnWidth: '17%',
                    endingShape: 'rounded'
                },
                distributed: true
                },
                colors: [window.colors.solid.primary, window.colors.solid.warning],
                series: [
                {
                    name: 'Revenu',
                    data: data
                }
                ],
                dataLabels: {
                enabled: false
                },
                legend: {
                show: false
                },
                grid: {
                padding: {
                    top: -20,
                    bottom: -10
                },
                yaxis: {
                    lines: { show: false }
                }
                },
                xaxis: {
                categories: label,
                labels: {
                    style: {
                    colors: $textMutedColor,
                    fontSize: '0.86rem'
                    }
                },
                axisTicks: {
                    show: false
                },
                axisBorder: {
                    show: false
                }
                },
                yaxis: {
                labels: {
                    style: {
                    colors: $textMutedColor,
                    fontSize: '0.86rem'
                    }
                }
                }
            };
            revenueReportChart = new ApexCharts($revenueReportChart, revenueReportChartOptions);
            revenueReportChart.render();

            
        });
    </script>
{% endblock %}