{% extends 'base.html.twig' %}

{% block title %}
    Liste des coachs
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

     <div class="row mb-3">
		<div class="col-12  mt-2 mt-md-3">
			<h4 class="my-auto general-primary-text">Liste des coachs</h4>
		</div>
	</div>
	<div class="card card-company-table p-5 rounded-3" style="">
				<div class="card-body p-0">
					<div class="card-head mb-3">
						<div class="row">
							<div class="col-0 col-md-6">
							</div>
							<div class="col-12 col-md-6 d-flex justify-content-center">
								<form action="{{path('agent_coach_list')}}" class="input-group rounded-3 m-2 w-75">
                                        <button class="input-group-text border-0" id="search-addon" type="submit">
											<i class="fas fa-search"></i>
										</button>
                                        <input type="search"name="search" class="form-control  input-group-text border-0" placeholder="Chercher" aria-label="Search" aria-describedby="search-addon" />
                                </form>
								<div class="input-group rounded-3 m-2 w-25" data-bs-toggle="collapse" data-bs-target="#filters" aria-expanded="false" aria-controls="filters">
									<span class="input-group-text border-0 w-25 rounded-4" id="search-addon">
										<i class="fa-solid fa-bars-staggered "></i>
									</span>
									<a type="search" class="input-group-text border-0 w-75">Filtres<a/>
								</div>
							</div>
						</div>
                    </div>
                    <div class="collapse" id="filters">
                        <div class="block block--bordered block--rounded">
                             <h1 class="block__text block__text--center mt-2" >Options de filtre :</h1>
                             <div class="filter-wrap">
                                    <!-- Formulaire de recherche -->
                                    <div class="search-form">
                                        {{form_start(searchForm)}}
                                            <div class="row text-center">
                                                <div class="col-12 col-sm-6 col-md-4">
                                                    {{form_row(searchForm.prenom)}}
                                                </div>
                                                <div class="col-12 col-sm-6 col-md-4">
                                                    {{form_row(searchForm.email)}}
                                                </div>
                                                <div class="col-12 col-sm-6 col-md-4">
                                                    {{form_row(searchForm.telephone)}}
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-12 mt-3">
                                                    <button class="btn btn-primary "><i class="fa-solid fa-magnifying-glass"></i> Rechercher</button>
                                                </div>
                                            </div>
                                        {{form_end(searchForm)}}
                                    </div>
                             </div>
                        </div>
                    </div>
                    
                    {% if coachs|length ==0 %}
                        <div class="alert alert-primary p-3 text-center" role="alert">
                            <div class="alert-body">
                                Aucun Coach trouvé
                            </div>
                        </div>
                    {% endif %}
                    {% if coachs|length !=0 %}
					<div class="table-responsive">
						<table class="table text-center">
							<tbody class="align-items-center">
								<tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Photo</th>
                                        <th scope="col">Nom et prénoms</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Téléphone</th>
                                        <th scope="col">Secteur</th>
                                        <th scope="col">ACTION</th>
                                </tr>
								{% for coach in coachs %}
                                            {% set secteurs = repoCoachSecteur.findBy({'coach' : coach}) %}
                                            {% set modal_id = "modal" ~ coach.id %}
                                            
                                            {{include ('partials/modalDedailCoach.html.twig',{coach:coach,secteur:secteurs[0].getSecteur()}) }}

                                            <tr class="align-items-center">
                                                <td>{{ coach.id }}</td>
                                                <td >
                                                    <div class="d-flex align-items-center justify-content-center" type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{modal_id}}">
                                                        <div class="img">
                                                            <img src="{{ path('user_avatar', {id:coach.id}) }}" class="w-50 rounded-3" alt="">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-dark-template " ype="button" class="btn btn-primary" data-toggle="modal" data-target="#{{modal_id}}">{{ coach.fullName }}</td>
                                                <td ><a class="text-tableau" href= "mailto: {{ coach.email }}"> {{ coach.email }} </a></td>
                                                <td ><a class="text-tableau" href="tel:{{ coach.telephone|default('-') }}">{{ coach.telephone|default('-') }}</a></td>
                                                 <td>
                                                    {# On récupère les secteurs reliés par l'agent  #}
                                                    <span class="badge bg-light-warning ">{{ coach.allSecteursOfUser(secteurs)|default('-') }}</span>     
                                                </td>
                                                <td>
                                                    <a class="regular-button text-center rounded-3"  href="#" onclick="Calendly.initPopupWidget({url: '{{coach.getLienCalendly()}}'});return false;" style="min-width:140px;">Prendre RDV </a>
                                                </td>    
                                            </tr>
                      
                                    {% else %}
                                        <tr>
                                            <td class="text-center" colspan="5">Aucun Coach trouvé</td>
                                        </tr>
                                    {% endfor %}
							</tbody>
						</table>
					</div>
                    <div class="pagination d-flex justify-content-center">
                            {{ knp_pagination_render(coachs)}}
                    </div>
                     {% endif %}
				</div>
	</div
{% endblock %}
