{% extends 'base.html.twig' %}

{% block title %}
	Liste des ressources
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %} 
    <div class="mt-2">
        {% if id != null %}
		    <a href="{{path('app_agent_ressources',{'id_parent':retour }  )}}" class="btn btn-secondary"> 
                <i class="fa-solid fa-circle-arrow-left"></i> Retour 
            </a>
        {% endif %}
        <div class="block block--bordered block--rounded mt-3">
            {% if ressources|length ==0 and fichiers|length ==0 %}
                    <div class="alert alert-primary p-3 text-center" role="alert">
                        <div class="alert-body">
                            Aucune ressource disponible pour le moment.
                        </div>
                    </div>
            {% endif %}
            {% if ressources|length != 0 %}
                <h2 class="block__title">Liste des dossiers :</h2>
                {% set total = ressources|length %}
                {% for i in 0..(total // 4) %}
                    <div class="row">
                        {% for j in 0..3 %}
                            {% set index = i * 4 + j %}
                            {% if index < total %}
                                <div class="col-md-3">
                                    <a href="{{ path('app_agent_ressources', {'id_parent': ressources[index].id }) }}" style="display: flex; flex-direction: column; justify-content: space-around;">
                                        <div class="d-flex justify-content-center align-items-center position-relative" style="background-color: #a5b7c1; height: 200px; border-radius: 6px;">
                                            <img src="{{ asset('assets/img/dossier.png') }}" alt="Logo Securitas" style="height: 80px;" />
                                        </div>
                                        <p style="color: black;">Nom: {{ ressources[index].nom }}</p>
                                        <p style="color: black;">Item(s): {{ ressources[index].item }}</p>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}
            
            {% if fichiers|length != 0 %}
                <div class="mt-3">
                    <h2 class="block__title">Liste des fichiers :</h2>
                    {% set total = fichiers|length %}
                    {% for i in 0..(total // 4) %}
                        <div class="row">
                            {% for j in 0..3 %}
                                {% set index = i * 4 + j %}
                                {% if index < total %}
                                    <div class="col-md-3">
                                        <a href="{{ path('fichier_agent_download', { 'id': fichiers[index].id }) }}">
                                            <div class="d-flex justify-content-center align-items-center position-relative" style="background-color: #a5b7c1; height: 200px; border-radius: 6px;">
                                                <img src="{{ asset('assets/img/file.png') }}" alt="File Icon" style="height: 80px;" />
                                                <div class="icon-container" style="position: absolute; bottom: 10px; right: 10px; display: flex; gap: 10px;">
                                                    <a href="{{ path('fichier_agent_download', { 'id': fichiers[index].id }) }}" class="btn btn-primary btn--rounded fab-btn">
                                                        <i data-feather="download"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <p>Nom: {{ fichiers[index].nom }}</p>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}