 {% extends 'base_admin.html.twig' %}

{% block title %} {{ label|default('Ajout') }} news letter {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/vuexy/vendors/css/calendars/fullcalendar.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/vuexy/css/pages/app-calendar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/templates/calendar/calendar.style.css') }}">
	<style>
		.form-add-coach{
			padding: 0 10px;
		}

		@media (min-width: 700px) {
			.form-add-coach{
				padding: 0 100px;
			}
		}
	</style>
{% endblock %}


{% block body %}
    <div class="my-5">
		<div class="content-body-form">
			<h1 class="text-center fw-bold">Information</h1>
			<div class="form-add-coach">
                <div class="mt-3">
                    {{ form_start(form,{'attr': {'enctype': 'multipart/form-data'}}) }}
                        {{ form_row(form.titre) }}
                        {{ form_row(form.objet) }}
                        {{ form_row(form.content) }}
                         <div class="mb-3">
                            <label for="files" class="form-label ">Pièces jointes:</label>
                            <input type="file" id="files" name="files[]" class="form-control" multiple>
                         </div>
                        <div class="row">
                            <div class="col-md-12 text-end"><button type="submit" class="btn btn-{{btn_class}}" style="margin-bottom: 81px;">{{ button|default('Enregistrer') }}</button></div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/templates/calendar/calendar.js') }}"></script>
    <script src="{{ asset('assets/vuexy/js/scripts/pages/app-calendar-events.js') }}"></script>
    <script src="{{ asset('assets/vuexy/js/scripts/pages/app-calendar.js') }}"></script>
    
    
    {# <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
    {{ encore_entry_script_tags('calendarJS') }} #}
{% endblock %}
