{% extends 'base_admin.html.twig' %}

{% block title %}
	Liste des exemples de contact
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}	
    <div class="mt-3">
        <!-- Message alert -->
        <div class="alert-message">
            {% for label, messages in app.flashes %}
                <div class="alert alert-{{label}} text-center">
                    {% for message in messages %}
                        {{message | raw}}
                    {% endfor %}
                </div>
            {% endfor %}
            
        </div>
         <div class="row mb-3">
            <div class="col-12  mt-2 mt-md-3">
                <h4 class="my-auto general-primary-text">Liste des exemples de contact</h4>
            </div>
        </div>
        <div class="card card-company-table p-5 rounded-3" style="">
                    <div class="card-head mb-3">
                            <div class="row">
                                <div class="col-0 col-md-8">
                                </div>
                                <div class="col-12 col-md-4">
                                    
                                    <a href="{{path('admin_contact_example_add')}}" class="btn btn-success btn mx-2 rounded-3" style="width: 100%;"><i class="fa fa-file-text"></i> <span class="ms-1">Ajout</span></a>
                                   

                                </div>
                            </div>
                        </div>
                    <div class="card-body p-0">
                        
                        
                        
                        {% if contacts|length ==0 %}
                            <div class="alert alert-primary p-3 text-center" role="alert">
                                <div class="alert-body">
                                    Aucun exemple contact.
                                </div>
                            </div>
                        {% endif %}
                        {% if contacts|length !=0 %}
                        <div class="table-responsive">
                            <table class="table text-center">
                                <tbody class="align-items-center">
                                    <tr>
                                        <th>Id</th>
                                        <th>Type du contact</th>
                                        <th>nom</th>
                                        <th>Email</th>
                                        <th>Téléphone</th>
                                        <th>Adresse</th>
                                        <th>Nom de l'entreprise</th>
                                        <th>Statut</th>
                                        <th>Type</th>
                                        <th>Référence</th>
                                        <th class="table-th-notSortable"></th>
                                    </tr>

                                    {% for contact in contacts %}            
                                        {% set information = contact.information %}
                                    <tr>
                                        <td>{{ information.id }}</td>
                                        <td>{{ information.typeContactLabel }}</td>
                                        <td>{{ information.firstname }} {{ information.lastname }}</td>
                                        <td>{{ information.email }}</td>
                                        <td>{{ information.phone }}</td>
                                        <td>{{ information.address }}</td>
                                        <td>{{ information.nomEntreprise ?? '--' }}</td>
                                        <td>
                                            {% set tags = information.contact.tags.toArray %}
                                            {% for tag in tags %}
                                                <div class="caret caret-shadow caret-hoverable rounded-3 d-inline-block bg-{{ tag.couleur }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="{{ tag.libelle }}"></div>
                                            {% endfor %}

                                        </td>
                                        <td>{{ information.stringType }}</td>
                                        <td>
                                        <a href="#"> {{ generateReference('AGENT_ID','USER_ID',contact.id) }} </a>
                                        <a class="p-2" href="#" onclick="copyLink('{{configSecteurService.getRefUrl(generateReference('AGENT_ID','USER_ID',contact.id))}}','Liens de la référence {{  generateReference('AGENT_ID','USER_ID',contact.id) }} copié avec succès') "><i class="fa-solid fa-copy"></i></a> 
                                        </td>
                                        <td class="d-flex justify-content-center">
                                            <a href="{{ path('admin_contact_example_view', {'id': contact.id}) }}" class="btn btn-secondary">
                                                <i class="fa-solid fa-eye"></i>
                                            </a>
                                            <a href="{{ path('admin_contact_example_edit', {'id': information.id}) }}" class="btn btn-success ms-1">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <form method="post" action="{{path('admin_contact_example_delete', {id: contact.id})}}" class="ms-1" style="display: inline-block;" onsubmit="return confirm('Êtes vous vraiment sûr de supprimer ce contact ?')">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
                                                <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                                            </form>  
                                        </td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <div class="pagination d-flex justify-content-center">
                            {{ knp_pagination_render(contacts)}}
                        </div>
                        {% endif %}
                    </div>
        </div>
    </div>
{% endblock %}


