{% extends 'base.html.twig' %}

{% block title %}
	Visualisation prospect
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('assets/templates/contact/contact.style.css') }}">
{% endblock %}

{% block body %}
	<div class="mt-2">
		<a href="{{ path('agent_prospect_list') }}" class="btn btn-secondary"> <i class="fa-solid fa-circle-arrow-left"></i> Retour </a>

        <!-- Message alert -->
        <div class="alert-message">
            {% for label, messages in app.flashes %}
                <div class="alert alert-{{label}} text-center">
                    {% for message in messages %}
                        {{message | raw}}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

		<div class="content-card-user-information mt-3">
			 <div class="modal fade my-custom-card" id="addNewCard" tabindex="-1" aria-labelledby="addNewCardTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-transparent">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body px-sm-5 mx-50 pb-5">
                    <h1 class="text-center mb-1" id="addNewCardTitle">Information</h1>
                    {# <p class="text-center">Add card for future billing</p> #}

                    <!-- form -->
                    <form action="{{ path('prospect_add_to_team')}}" class="">
                        
                        <div class="col-12 col-md-12">
                            <div class="form-group">
                                <label class="form-label" for="parrain">Parrain</label>
                                <input class="form-control" type="text" id="parrain" name="parrain" />
                                <input class="form-control" type="text" id="prospect_id" name="prospect_id"  value="{{ prospect.id }}" hidden/>
                            </div>
                        </div>

                        <div class="mt-3 d-flex flex-wrap justify-content-around align-items-center text-center">
                            <button type="submit" role="button" class="btn btn-primary" >
                                Ajouter
                            </button>

                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" aria-label="Close">
                                Annuler
                            </button>
                        </div>
                    </form>    
                </div>
            </div>
        </div>
    </div>
			<section class="app-user-view-account">
				<div class="row">
					<div class="col-12 col-md-8">
						<div class="contact-card">
							<div class="contact-card__name-container">
								<h3 class="mb-5">{{ prospect.fullName }}</h3>
								{% if is_granted('ROLE_AGENT') %}
									<a href="{{ path('agent_prospect_info_edit', {id:prospect.id}) }}" class="btn btn-primary"><i class="fa fa-edit"></i> Modifier</a>
								{% endif %}
								{% if prospect.account is null %}
									<div><a href="#" class="btn rounded-3 btn-outline-primary mt-3" data-bs-toggle="modal" data-bs-target="#addNewCard"><i class="fa fa-user-plus"></i> Ajouter à l'équipe</a></div>
								{% endif %}
							</div>
							<div class="contact-card__infos-container">
								<div class="contact-card__info-item">
									<i class="fa-solid fa-phone"></i>
									<span> {{ 'Prospect ' ~ prospect.stringType }}</span>
								</div>
								<div class="contact-card__info-item">
									<i class="fa-solid fa-envelope"></i>
									<span>{{ prospect.email|default('Aucune adresse email') }}</span>
								</div>
								{% if prospect.phone %}
								<div class="contact-card__info-item">
									<i class="fa-solid fa-phone"></i>
									<span> {{ prospect.phone }}</span>
								</div>
								{% endif %}
								<div class="contact-card__info-item mt-3">
									<i class="fa-solid fa-location-dot"></i> <span>{{ prospect.address|default('(Adresse)') }}</span>
									<ul>
										{% if prospect.rue %}
											<li><span class="fw-bolder">rue :</span> {{ prospect.rue }}</li>
										{% endif %}
										{% if prospect.codePostal %}
											<li><span class="fw-bolder">Code postal :</span> {{ prospect.codePostal }}</li>
										{% endif %}
										{% if prospect.ville %}
											<li><span class="fw-bolder">Ville :</span> {{ prospect.ville }}</li>
										{% endif %}
									</ul>
								</div>
							
							

								<div class="contact-card__info-item row">
						
									
								</div>
							
							</div>
						</div>

						<!-- /User Card -->


						{# <h4 class="text-primary">Information agent</h4>
						<p><span class="fw-bolder">Nom</span>: {{ info.firstname }}</p>
						<p><span class="fw-bolder">Prénom</span>: {{ info.lastname }}</p>
						<p><span class="fw-bolder">Email</span>:  {{ info.email }}</p>
						<p><span class="fw-bolder">Téléphone</span>:  {{ info.phone }}</p> #}

						
						
					</div>
					<div class="col-12 col-md-4">
						<div class="note">
							<div class="note-header">
								Notes
							</div>
							<div class="note-content">
								{% if prospect.note != null %}
									{{prospect.note| raw }}
								{% else %}
									<div class="note-blank-alert">Aucune note pour ce prospect</div>
								{% endif %}
							</div>
						</div>
						{# <h3 class="text-primary">Note</h3>
						{{ form_start(formNote) }}
						{{ form_row(formNote.note) }}
						<button class="btn btn-success mt-3" >Enregistrer note <i class="fa-solid fa-floppy-disk ms-2"></i></button>
						{{ form_end(formNote) }} #}
					</div>
				</div>
			</section>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
