{% extends 'base.html.twig' %}

{% block title %}
	Liste  contacts agent
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}	
    <div class="mt-3">
        <!-- Message alert -->
        <div class="alert-message">
            {% for label, messages in app.flashes %}
                <div class="alert alert-{{label}} text-center">
                    {% for message in messages %}
                        {{message | raw}}
                    {% endfor %}
                </div>
            {% endfor %}
            {% if app.request.get('contactMobile') and app.request.get('contactMobile') == 'added' %}
                <div class="alert alert-success text-center">
                    Contact ajouté avec succès
                </div>
            {% endif %}
            
        </div>
         <div class="row mb-3">
            <div class="col-12  mt-2 mt-md-3">
                <h4 class="my-auto general-primary-text">Liste de mes contacts</h4>
            </div>
        </div>
        <div class="card card-company-table p-5 rounded-3" style="">
                    <div class="card-body p-0">
                        <div class="card-head mb-3">
                            <div class="row">
                                <div class="col-0 col-md-6">
                                </div>
                                <div class="col-12 col-md-6 row">
                                    <div class="col-6 col-md-8">
                                        <form action="{{ path('agent_contact_list') }}" class="input-group rounded-3 m-2 w-100 w-sm-75">
                                            <button class="input-group-text border-0" id="search-addon" type="submit">
                                                <i class="fas fa-search"></i>
                                            </button>
                                            <input type="search" name="search" class="form-control input-group-text border-0" placeholder="Chercher" aria-label="Search" aria-describedby="search-addon" />
                                        </form>
                                    </div>
                                    <div class="col-6 col-md-4">
                                        <div class="input-group rounded-3 m-2 " data-bs-toggle="collapse" data-bs-target="#filters" aria-expanded="false" aria-controls="filters">
                                            <span class="input-group-text border-0 w-25 rounded-4" id="search-addon">
                                                <i class="fa-solid fa-bars-staggered"></i>
                                            </span>
                                            <a type="search" class="input-group-text border-0 w-75">Filtres</a>
                                        </div>
                                    </div>
                                </div>

            
                            </div>
                        </div>
                        <div class="collapse" id="filters">
                            <div class="block block--bordered block--rounded">
                                <h1 class="block__text block__text--center mt-2" >Options de filtre :</h1>
                                <div class="filter-wrap">
                                        <!-- Formulaire de recherche -->
                                        <div class="search-form">
                                            {{form_start(searchForm)}}
                                                <div class="row text-center">
                                                    <div class="col-12 col-sm-3 col-md-2">
                                                        {{form_row(searchForm.prenom)}}
                                                    </div>
                                                    <div class="col-12 col-sm-6 col-md-2">
                                                        {{form_row(searchForm.email)}}
                                                    </div>
                                                    <div class="col-12 col-sm-3 col-md-2">
                                                        {{form_row(searchForm.telephone)}}
                                                    </div>
                                                    <div class="col-12 col-sm-3 col-md-3">
                                                        {{form_row(searchForm.adresse)}}
                                                    </div>
                                                    <div class="col-12 col-sm-1 col-md-1">
                                                        <select class="form-select" name="ordre">
                                                            <option value="ASC"selected>Ordre</option>
                                                            <option value="ASC">ASC</option>
                                                            <option value="DESC">DESC</option>
                                                        </select>
                                                    </div>
                                                    <div class=" col-12 col-sm-2 col-md-2">
                                                        {{form_row(searchForm.tag)}}
                                                    </div>
                                                    <div class="col-2">
                                                        <label for="dateInscriptionMin" class="form-label">Type du contact</label>
                                                        {{form_widget(searchForm.type)}}
                                                    </div>
                                                    <div class="col-5">
                                                        <label for="dateInscriptionMin" class="form-label">Date d'enregistrement à partir de</label>
                                                        {{form_widget(searchForm.dateInscriptionMin)}}
                                                    </div>
                                                    <div class="col-5">
                                                        <label for="dateInscriptionMax" class="form-label">Date d'enregistrement jusqu'à</label>
                                                        {{form_widget(searchForm.dateInscriptionMax)}}
                                                    </div>
                                                   
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-md-8 mt-3 row">
                                                            <div class="col-12 col-md-5 d-flex align-items-center justify-content-center">
                                                                <a href="{{path('agent_contact_info_add')}}" class=" mt-2 btn btn-success btn-sm mx-2 rounded-3"><i class="fa fa-file-text"></i> <span class="ms-1">Ajout</span></a>
                                                                <a href="{{path('agent_contact_export_excel')}}" class=" mt-2 btn btn-success btn-sm mx-2 rounded-3"><i class="fa fa-print"></i> <span class="ms-1">Exporter excel</span></a>
                                                            </div>
                                                            <div class="col-12 col-md-7 d-flex align-items-center justify-content-center">
                                                                <a href="{{path('agent_contact_export_pdf')}}" class=" mt-2 btn btn-danger btn-sm mx-2 rounded-3"><i class="fa fa-file-text"></i> <span class="ms-1"> Exporter pdf</span></a>
                                                                <a href="{{path('agent_contact_import_export_mobile')}}" class="mt-2 btn btn-secondary btn-sm mx-2"><i class="fa-solid fa-mobile-screen-button"></i><span class="imp-exp-text-js ms-1">Importer/Exportation mobile</span></a>
                                                            </div>
                                                    </div>
                                                    <div class="col-12  col-md-4 mt-3 d-flex align-items-center justify-content-end">
                                                        <button class="regular-button w-50 rounded-3 fw-bolder">Rechercher</button>
                                                    </div>
                                                </div>
                                                
                                            {{form_end(searchForm)}}
                                        </div>
                                        
                                </div>
                            </div>
                        </div>
                        
                        {% if contacts|length ==0 %}
                            <div class="alert alert-primary p-3 text-center" role="alert">
                                <div class="alert-body">
                                    Aucun rendez-vous.
                                </div>
                            </div>
                        {% endif %}
                        {% if contacts|length !=0 %}
                        <div class="table-responsive">
                            <table class="table text-center">
                                <tbody class="align-items-center">
                                    <tr>
                                        <th>Id</th>
                                        <th>nom</th>
                                        <th>Email</th>
                                        <th>Téléphone</th>
                                        <th>Adresse</th>
                                        <th>Statut</th>
                                        <th>Type</th>
                                        <th>Référence</th>
                                        <th class="table-th-notSortable"></th>
                                    </tr>

                                    {% for contact in contacts %}            
                                        {% set information = contact.information %}
                                    <tr>
                                        <td>{{ information.id }}</td>
                                        <td>{{ information.firstname }} {{ information.lastname }}</td>
                                        <td>{{ information.email }}</td>
                                        <td>{{ information.phone }}</td>
                                        <td>{{ information.address }}</td>
                                        <td>
                                            {% set tags = information.contact.tags.toArray %}
                                            {% for tag in tags %}
                                                <div class="caret caret-shadow caret-hoverable rounded-3 d-inline-block bg-{{ tag.couleur }}" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="{{ tag.libelle }}"></div>
                                            {% endfor %}

                                        </td>
                                        <td>{{ information.stringType }}</td>
                                        <td>
                                        <a href="{{ path('agent_order_list_digital',{'referenceVente' : generateReference(contact.agent.id,app.user.id,contact.id)  }) }}"> {{ generateReference(contact.agent.id,app.user.id,contact.id) }} </a>
                                        <a class="p-2" href="#" onclick="copyLink('{{configSecteurService.getRefUrl(generateReference(contact.agent.id,app.user.id,contact.id))}}','Liens de la référence {{  generateReference(contact.agent.id,app.user.id,contact.id) }} copié avec succès') "><i class="fa-solid fa-copy"></i></a> 
                                        </td>
                                        <td class="d-flex justify-content-center">
                                            <a href="{{ path('agent_contact_view', {'id': contact.id}) }}" class="btn btn-secondary">
                                                <i class="fa-solid fa-eye"></i>
                                            </a>
                                            <a href="{{ path('agent_contact_info_edit', {'id': information.id}) }}" class="btn btn-success ms-1">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <form method="post" action="{{path('agent_contact_info_delete', {id: contact.id})}}" class="ms-1" style="display: inline-block;" onsubmit="return confirm('Êtes vous vraiment sûr de supprimer ce contact ?')">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
                                                <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                                            </form>  
                                        </td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <div class="pagination d-flex justify-content-center">
                            {{ knp_pagination_render(contacts)}}
                        </div>
                        {% endif %}
                    </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
         $(window).resize(function() {
            if ($(window).width() < 530) {
                $('.imp-exp-text-js').text('Imp/Exp mobile');
            }else {
                $('.imp-exp-text-js').text('Import/Export mobile');
            }
        });
    </script>
{% endblock %}

