{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/templates/meeting/meeting.style.css') }}">
{% endblock %}

{% block body %}
    {% if meeting == null %}
        <div class="alert alert-danger" role="alert">
            <div class="alert-body">
                Rendez-vous indéfini.
            </div>
        </div>
    {% else %}
    <div class="block block--bordered block--rounded">
        <h1 class="block__text block__text--center mt-2" >Fiche du rendez-vous n° {{meeting.id}} :</h1>
        <table class="table table-bordered meeting-fiche">
            <tr>
                <th>Libellé</th>
                <td>{{meeting.title}}</td>
            <tr>
            <tr>
                <th>Date de début</th>
                <td>{{meeting.start | date("d/m/Y H:i")}}</td>
            <tr>
            <tr>
                <th>Date de fin</th>
                <td>{{meeting.end | date("d/m/Y H:i")}}</td>
            <tr>
            <tr>
                <th>Invité</th>
                <td> <a href="{{ path('agent_contact_view', { id: meeting.userToMeet.information.contact.id }) }}">{{ meeting.userToMeet.information.lastname }} {{ meeting.userToMeet.information.firstname }}</a> </td>
            <tr>
            <tr>
                <th>Téléphone</th>
                <td> <a href="tel:{{ meeting.userToMeet.information.phone}}">{{ meeting.userToMeet.information.phone|default('-') }}</a> </td>
            </tr>
            <tr>
                <th>Email</th>
                <td> <a href="mailto:{{meeting.userToMeet.information.email}}">{{ meeting.userToMeet.information.email|default('-') }}</a> </td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>
                    <i>{% if meeting.meetingState.name == 'Annulé' %}
                            <span class="text-danger">{{meeting.meetingState.name}}</span>
                        {% else %}
                            {{meeting.meetingState.name}}
                        {% endif %}
                    </i>
                </td>
            <tr>
             <tr>
                <th>Référence</th>
                <td> 
                    {% if meeting.audit != null %}
                        {{ generateReference(meeting.userToMeet.agent.id,app.user.id,meeting.userToMeet.id,meeting.audit.id) }}
                    {% else %}
                       {{ generateReference(meeting.userToMeet.agent.id,app.user.id,meeting.userToMeet.id) }}
                    {% endif %}
                </a> </td>
            </tr>
            {% if meeting.audit != null %}
            <tr class="note-row">
                <th>Audit</th>
                <td>
                    <div class="info-container">
                        <ul class="list-unstyled ">
                            <li class="mb-75">
                                <span class="fw-bolder me-25">Nom du projet:</span>
                                <span>{{ meeting.audit.nomProjet }}</span>
                            </li>
                            <li class="mb-75">
                                <span class="fw-bolder me-25">Url du site:</span>
                                <span>{{ meeting.audit.urlSite }}</span>
                            </li>
                            <li class="mb-75">
                                <span class="fw-bolder me-25">Description:</span>
                                <span>{{ meeting.audit.description }}</span>
                            </li>
                            <li class="mb-75">
                                <span class="fw-bolder me-25">Date d'ajout:</span>
                                <span class="badge bg-light-success">{{ meeting.audit.DateAjout!=null?meeting.audit.DateAjout.format('Y-m-d'):"" }}</span>
                            </li>
                            <li class="mb-75">
                                <span class="fw-bolder me-25">Proprietaire:</span>
                                 <span>{{ meeting.audit.propriétaire != null?meeting.audit.propriétaire.fullName:"Néant" }}</span> 
                            </li>
                            <li class="mb-75 text-center ">
                                 <a class="btn btn-outline-primary m-4" {% if meeting.audit != null  %}href="{{ path('audit_view', { id: meeting.audit.getId() }) }}"{% endif %}>Détail de l'audit</a>
                            </li>
                           
                            
                        </ul>
                        
                    </div>
                </td>
            <tr>
            {% endif %}
            <tr class="note-row">
                <th>Note</th>
                <td>{{meeting.note|raw}}</td>
            <tr>
            
            
        </table>
        <div class="meeting-fiche-controls">
            {% if meeting.meetingState.name == "En attente" %}<button class="btn btn-outline-danger" type="button" onclick="cancelMeeting({{meeting.id}})">Annuler le rendez-vous</button>{% endif %}
            {# <button class="btn btn-outline-secondary" type="button" onclick="reportMeeting({{meeting.id}})">Rendez-vous après 48h</button> #}

            {% if meeting.meetingState.name == "En attente" %}<button class="btn btn-primary" type="button"  onclick="endMeeting({{meeting.id}})">Marquer comme terminé</button>{% endif %}
            {% if meeting.audit != null  %}
                {% if meeting.audit.secteur != null  %}
                <a class="btn btn-outline-warning" href="{{meeting.audit.secteur.googleForms}}" target="_blank" >Accéder aux formulaires </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block title %}
    Rendez-vous
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/templates/meeting/meeting.js') }}"></script>
    <script type="text/javascript">
        function cancelMeeting(id){
            let request = $.ajax({  
                url:        '/meeting/api/cancel/'+id,  
                type:       'POST',   
                contentType: 'application/json; charset=utf-8',
                dataType: "json"
            });  
            request.done(function(data) {
                console.log(data);
                location.reload();
            });

            request.fail(function(jqXHR, textStatus) {
                let errMessage = jqXHR.responseJSON.detail;
                console.log(jqXHR);
                alert("Erreur: "+errMessage);
            });
        }
        function reportMeeting(id){
            let request = $.ajax({  
                url:        '/meeting/api/report/'+id,  
                type:       'POST',   
                contentType: 'application/json; charset=utf-8',
                dataType: "json"
            });  
            request.done(function(data) {
                console.log(data);
                location.reload();
            });

            request.fail(function(jqXHR, textStatus) {
                let errMessage = jqXHR.responseJSON.detail;
                console.log(jqXHR);
                alert("Erreur: "+errMessage);
            });
        }
        function endMeeting(id){
            let request = $.ajax({  
                url:        '/meeting/api/end/'+id,  
                type:       'POST',   
                contentType: 'application/json; charset=utf-8',
                dataType: "json"
            });  
            request.done(function(data) {
                console.log(data);
                location.reload();
            });

            request.fail(function(jqXHR, textStatus) {
                let errMessage = jqXHR.responseJSON.detail;
                console.log(jqXHR);
                alert("Erreur: "+errMessage);
            });
        }
    </script>
{% endblock %}
