{% extends 'base.html.twig' %}

{% block title %}
    Rendez-vous
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/templates/meeting/meeting.style.css') }}">
{% endblock %}

{% block body %}
 
    <div class="row mb-3">
		<div class="col-12  mt-2 mt-md-3">
			<h4 class="my-auto general-primary-text">{% if contact is defined and contact is not null %}<span class="h5 block__title">Liste de rendez-vous </span ><span class="h5">({{ contact.information.fullName }}): </span >{% else %}<span class="h5 block__title"> Liste de rendez-vous :</span > {% endif %}</h4>
		</div>
	</div>
	<div class="card card-company-table p-5 rounded-3" style="">
				<div class="card-body p-0">
					<div class="card-head mb-3">
						<div class="row">
							<div class="col-0 col-md-6">
                        
							</div>
							<div class="col-12 col-md-6 d-flex justify-content-center">
								<form action="{{path('agent_contact_meeting_list')}}" class="input-group rounded-3 m-2 w-75">
                                    <button class="input-group-text border-0" id="search-addon" type="submit">
										<i class="fas fa-search"></i>
									</button>
                                    <input type="search"name="search" class="form-control  input-group-text border-0" placeholder="Chercher" aria-label="Search" aria-describedby="search-addon" />
                                </form>
								<div class="col-6 col-md-4">
                                    <div class="input-group rounded-3 m-2">
                                        <button class="input-group-text border-0 w-100" type="button" data-toggle="collapse" data-target="#filters" aria-expanded="false" aria-controls="filters">
                                            <span class="input-group-text border-0 w-25 rounded-4 me-4" id="filter-toggle">
                                                <i class="fa-solid fa-bars-staggered"></i>
                                            </span>
                                            Filtres
                                        </button>
                                    </div>
                                </div>
							</div>
						</div>
                    </div>
                    <div class="collapse" id="filters">
                        <div class="block block--bordered block--rounded">
                             <h1 class="block__text block__text--center mt-2" >Options de filtre :</h1>
                             <div class="filter-wrap">
                                    <!-- Formulaire de recherche -->
                                    <div class="search-form">
                                        {{form_start(searchForm)}}
                                        <div class="row text-center">
                                            <div class="col-12 col-sm-6 col-md-6">
                                                {{form_row(searchForm.title)}}
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-6">
                                                {{form_row(searchForm.status)}}
                                            </div>
                                            <div class="col-6">
                                                <label for="dateInscriptionMin" class="form-label">Date debut</label>
                                                {{form_widget(searchForm.startDate)}}
                                            </div>
                                            <div class="col-6">
                                                <label for="dateInscriptionMax" class="form-label">Date fin</label>
                                                {{form_widget(searchForm.endDate)}}
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 mt-3">
                                                <button class="btn btn-primary "><i class="fa-solid fa-magnifying-glass"></i> Rechercher</button>
                                            </div>
                                        </div>
                                        {{form_end(searchForm)}}
                                    </div>
                             </div>
                        </div>
                    </div>
                    
                    {% if meetings|length ==0 %}
                        <div class="alert alert-primary p-3 text-center" role="alert">
                            <div class="alert-body">
                                Aucun rendez-vous.
                            </div>
                        </div>
                    {% endif %}
                    {% if meetings|length !=0 %}
					<div class="table-responsive">
						<table class="table text-center">
							<tbody class="align-items-center">
								<tr>
                                    <th>Id</th>
                                    <th>Date de début</th>
                                    <th>Date de fin</th>
                                    <th>Libellé</th>
                                    <th>Invité</th>
                                    <th>Téléphone</th>
                                    <th>Email</th>
                                    <th>Référence</th>
                                    <th>AUDIT</th>
                                    <th>Statut</th>
                                    <th class="table-th-notSortable"></th>
                                </tr>

								{% for meeting in meetings %}
                                <tr>
                                    <td>{{meeting.id}}</td>
                                    <td>{{meeting.start | date("d/m/Y H:i")}}</td>
                                    <td>{{meeting.end | date("d/m/Y H:i")}}</td>
                                    <td><b>{{meeting.title}}</b></td>
                                    <td> <a href="{{ path('agent_contact_view', { id: meeting.userToMeet.information.contact.id }) }}">{{ meeting.userToMeet.information.lastname }} {{ meeting.userToMeet.information.firstname }}</a> </td>
                                    <td> <a href="tel:{{meeting.userToMeet.information.phone}}">{{ meeting.userToMeet.information.phone|default('-') }}</a> </td>
                                    <td> <a href="mailto:{{meeting.userToMeet.information.email}}">{{ meeting.userToMeet.information.email|default('-') }}</a> </td>
                                    <td> 
                                        <div class="d-flex justify-content-start">
                                            <a class="btn btn-outline-primary w-50" href="{{ path('agent_order_list_digital',{'referenceVente' : generateReference(meeting.userToMeet.agent.id,app.user.id,meeting.userToMeet.id,meeting.user.id)  }) }}"> {{ generateReference(meeting.userToMeet.agent.id,app.user.id,meeting.userToMeet.id,meeting.user.id) }} </a>
                                            <a class="p-2" href="#" onclick="copyLink('{{ configSecteurService.getRefUrl(generateReference(meeting.userToMeet.agent.id,app.user.id,meeting.userToMeet.id,meeting.user.id)) }}','Liens de la référence {{  generateReference(meeting.userToMeet.agent.id,app.user.id,meeting.userToMeet.id,meeting.user.id) }} copié avec succès') "><i class="fa-solid fa-copy"></i></a> 
                                        </div>
                                    </td>
                                    <td> 
                                        {% if meeting.audit != null  %}
                                            <a class="btn btn-outline-primary p-2" {% if meeting.audit != null  %}href="{{ path('meeting_audit_view', { 'id': meeting.getId() }) }}"{% endif %}>Détail</a>
                                        {% else %}
                                            <a class="btn btn-outline-success p-2" href="{{ path('meeting_audit_add', { id: meeting.getId() }) }}">Ajouter</a>
                                        {% endif %}
                                    </td>
                                    
                                    <td>
                                        {% if meeting.meetingState.name == 'Annulé' %}
                                            <span class="text-danger">{{meeting.meetingState.name}}</span>
                                        {% else %}
                                            {{meeting.meetingState.name}}
                                        {% endif %}
                                    </td>
                                    <td class="col-action p-2">
                                        <a href="{{path('agent_contact_meeting_fiche', {'id': meeting.id})}}" >
                                            <i data-feather="eye"></i>
                                        </a>
                                    </td>

                                
                                </tr>
                                {% endfor %}

							</tbody>
						</table>
					</div>
					<div class="pagination d-flex justify-content-center">
						{{ knp_pagination_render(meetings)}}
					</div>
                     {% endif %}
				</div>
	</div>
  
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/templates/meeting/meeting.js') }}"></script>
{% endblock %}
