{% extends 'base_admin.html.twig' %}

{% block title %}
	Visualisation réponse
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

	<div class="mt-2">
		<a href="{{ path('audit_view', {'id': reponse.audit.id}) }}" class="btn btn-secondary"> <i class="fa-solid fa-circle-arrow-left"></i> Retour </a>

		<div class="content-card-user-information mt-3">
			<section class="app-user-view-account">
				<div class="row">
					<!-- User Content -->
					<div class="col-0  col-md-3 ">
					</div>
					<!--/ User Content -->

					<!-- User Sidebar -->
					<div class="col-12  col-md-6 order-1 order-md-0">
						{{ include ('global/card/_card_reponse_information.html.twig', {reponse :reponse}) }}
					</div>
					<!--/ User Sidebar -->

					<!-- User Content -->
					<div class="col-0  col-md-3 ">
					</div>
					<!--/ User Content -->
				</div>
			</section>
			
		</div>
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
	{{ encore_entry_script_tags('vuexy_app_user_view_js') }}
{% endblock %}
