{% extends 'base_admin.html.twig' %}

{% block title %}
	Retraits
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="block block--bordered block--rounded">
        <h1 class="block__text block__text--center mt-2" >Options de filtre :</h1>
        <div class="filter-wrap">
            
            {{ form_start(form, {'attr': {'class': 'filter-form', 'id': 'product-filter-form'}}) }}
                <div class="row">
                <div class="col-12 col-md-3">
                <div class="my-form-widget">
                    {{form_label(form.status)}}
                    {{form_widget(form.status)}}
                    {{form_errors(form.status)}}
                </div>
                </div>
                <div class="col-12 col-md-3">
                <div class="my-form-widget">
                    {{form_label(form.dateMin)}}
                    {{form_widget(form.dateMin)}}
                    {{form_errors(form.dateMin)}}
                </div>
                </div>
                <div class="col-12 col-md-3">
                <div class="my-form-widget">
                    {{form_label(form.dateMax)}}
                    {{form_widget(form.dateMax)}}
                    {{form_errors(form.dateMax)}}
                </div>
                </div>
                <div class="col-12 col-md-3">
                <div class="my-form-widget">
                    {{form_label(form.userName)}}
                    {{form_widget(form.userName)}}
                    {{form_errors(form.userName)}}
                </div>
                </div>
                <div class="col-12 col-md-3">
                <div class="my-form-widget">
                    {{form_label(form.sort)}}
                    {{form_widget(form.sort)}}
                    {{form_errors(form.sort)}}
                </div>
                </div>
                <div class="col-12 col-md-3">
                <div class="my-form-widget">
                    {{form_label(form.direction)}}
                    {{form_widget(form.direction)}}
                    {{form_errors(form.direction)}}
                </div>
                </div>
                </div>
                <div class="btn-wrap d-flex justify-content-start mt-3">
                    <button class="btn btn-primary" type="submit"><i data-feather="filter"></i>Filtrer</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="block block--bordered block--rounded mt-4">
        <div class="block__header mb-1" >
            <h1 class="block__title">Liste des retraits :</h1>
            
        </div>
        {% if data|length ==0 %}
                <div class="alert alert-primary p-3 text-center" role="alert">
                    <div class="alert-body">
                        Aucune résultat.
                    </div>
                </div>
        {% endif %}
        {% if data|length !=0 %}
        <div class="table-responsive mb-1">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Utilisateur</th>
                        <th>Secteur</th>
                        <th>Montant</th>
                        <th>Statut</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td>{{item.createdAt | date("d/m/Y H:i")}}</td>
                        <td>{{item.user.prenom}} {{item.user.nom}} ({{item.user.stringRole}})</td>
                        <td>{{item.secteur.nom}}</td>
                        <td class="text-right">{{item.amount | number_format(2, ',', ' ') }} €</td>
                        <td>{{item.statusRetraitStr}}</td>
                        <td class="col-action d-flex align-items-center justify-content-center">
                        {% if item.status == constant('App\\Entity\\UserTransaction::STATUS_CREATED') %}
                        <form action="{{path('admin_retrait_status', {'id': item.id, 'status': 'validated'})}}" method="post">
                            <button class="btn btn-sm btn-success" type="submit">
                                Valider
                            </button>
                        </form>
                        <form action="{{path('admin_retrait_status', {'id': item.id, 'status': 'denied'})}}" method="post">
                            <button class="btn btn-sm btn-danger ms-2" type="submit">
                                Refuser
                            </button>
                        </form>
                        {% endif %}
                        </td>

                       
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center scale-up-center">
            {{ knp_pagination_render(data) }}
        <div>
        {% endif %}
    </div>

{% endblock %}


