<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue</title>
    <style>

    </style>
</head>
<body>
    <p>
       Cher(e) {{user.nom}},
    </p>
    <p>
       Bienvenue chez la plateforme de gestion de Mether !
    </p>
    <p>
        Des maintenant vous pouvez vous connectez sur votre plateforme :  {{data.url_platform}}
    </p>
    <p>
        Username : {{user.username }}<br/>
        Mot de passe : {{ data.password}}<br/>
        Nom d’utilisateur de votre parrain : {{data.parrain }}
    <p>
        Cordialement,
    </p>
 

</body>
</html>
